@model AttachedActivityModel
@{
    Layout = "~/Views/Shared/Popup.cshtml";
    ViewBag.Title = "Attach Activity".Localize();
}

<div class="topbar">
    <h1 class="title">@ViewBag.Title</h1>
</div>
<div class="warp">
    @using (Html.BeginForm())
    {
        <div class="step-content clearfix">
            <div class="common-form">
                @Html.EditorForModel()
            </div>
        </div>
    }
</div>
