@model PagedList<ActivityBindingRowModel>
@{
    ViewBag.Title = ViewBag.CurrentEventDisplayName;
}

@section Panel {
    @(Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.Add("Attach Activity", "add")
               .Dropdown(items =>
               {
                   var activities = (IEnumerable<SelectListItemEx>)ViewData["AllActivities"];

                   if (!activities.Any())
                   {
                       items.Add("No available activity");
                   }
                   else
                   {
                       foreach (var activity in activities)
                       {
                           items.Add(activity.Text)
                                .WithUrl("#");
                       }
                   }
               });

        buttons.AddAjaxPostButton("Settings", "setting", "Settings", new { @return = Request.RawUrl }).VisibleWhen(GridChecked.Single).VisibleWhenSelected(".configurable");
        buttons.AddEnableButton();
        buttons.AddDisableButton();
        buttons.AddDeleteButton();
    }))
}

<div class="simple-table" id="rules-container">
    <div class="toolbar">
        <a href="#" class="button" data-bind="click: addRule">@("Add Rule".Localize())</a>
    </div>
    <table>

    </table>
</div>

@Html.Partial("_ConditionsEditor")

<script>
    $(function () {

        ConditionsEditor.init({
            contextModelTypeName: '@(typeof(Kooboo.Commerce.Events.Customers.CustomerCreated).AssemblyQualifiedName)',
            save: function (exp) {
                alert(exp);
            }
        });

        var vm = new ViewModel();

        function ViewModel() {
            var _this = this;

            this.addRule = function (name) {
                ConditionsEditor.open();
            }
        }

        ko.applyBindings(vm, document.getElementById('rules-container'));
    });

</script>