<div class="shoppingcart-title column_header">
    winkelwagen
</div>
<div class="shoppingcart">
    <div class="shoppingcart-top icons">
    </div>
    <div class="shippingcart-item">
        artikelen:
        <span id="ctl00_ShoppingCart1_lblQuantity" class="cartcount">0</span><br />
        <span style="padding-right: 18px">totaal:</span>€
        <span id="ctl00_ShoppingCart1_lblAmount" class="cartamount">0,00</span>
    </div>
    <div class="shippingcart-bottom">
        <span class="nav_w">
            <a class="white" href="@Url.FrontUrl().PageUrl("/cart")">
                naar winkelwagen
            </a>
        </span>
    </div>
</div>
