/* Condition result
----------------------------------------------------------*/
.condition-result {
	margin-bottom: 15px;

	&.fixed {
		background: rgba(255,255,255,.9);
		padding: 20px 20px 15px;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 99;
		.box-shadow(0 3px 3px rgba(0,0,0,.2));
	}
}

/* Conditions block
----------------------------------------------------------*/
.block.conditions {
	min-height: 343px;

	.wrap {
		margin-bottom: 10px;
	}

	.item {
		background: #F5F5F5;
		border: 1px solid #CCC;
		margin-top: 36px;
		padding: 10px 48px 10px 10px;
		position: relative;
		.rounded(4px);

		&:first-child {
			margin-top: 0;

			.logic-operator {
				display: none;
			}
		}

		.logic-operator {
			background: #F5F5F5;
			border-left: 1px solid #CCC;
			border-right: 1px solid #CCC;
			margin-left: 50px;
			padding: 5px 10px;
			position: absolute;
			top: -38px;
			width: 100px;
		}

		.action {
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}
}

/* Conditions block
----------------------------------------------------------*/
.block.conditions-v2 {
	min-height: 343px;

	.item {
		border: 1px solid #CCC;
		margin-bottom: 10px;
		padding: 10px;
		position: relative;

		.title {
			float: left;
			font-weight: 600;
			margin: 0 20px 20px 0;
			line-height: 13px;
		}

		.form-list.left {
			margin: 0;
		}

		.wrap {
			clear: both;
			margin-bottom: 10px;
			padding-right: 44px;
			position: relative;

			.action {
				background: @light-gray;
				padding: 7px;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		.text {
			display: block;
			font-weight: 600;
			line-height: 28px;
			text-align: center;
		}

		.form-list {
			margin-top: 8px;
		}

		.actions {
			overflow: hidden;

			.button {
				float: right;
				min-width: 0;
				margin-left: 10px;
			}
		}
	}

	.label {
		display: inline-block;
		line-height: 15px;
		margin-bottom: 10px;
	}

	.separator {
		border-bottom: 1px solid #CCC;
		height: 10px;
		margin: 10px 0 20px;
		position: relative;

		.label {
			top: 1px;
			position: absolute;
		}
	}
}

/* Rules block
----------------------------------------------------------*/
.block.rules {

	.summary {
		background: #F9F9F9;
		border: 1px solid #EEE;
		margin-top: 10px;
		padding: 10px 40px;
		position: relative;
		.rounded(5px);

		.icon.toggle {
			cursor: pointer;
			left: 19px;
			margin-top: -5px;
			position: absolute;
			top: 50%;
			.sprite(@plus-mini);
		}

		.action.remove {
			margin-top: -8px;
			position: absolute;
			right: 10px;
			top: 50%;
		}

		.summary-text span {
			margin: 0 4px;

			&:first-child {
				margin-left: 0;
			}
		}

		.tag {
			color: #3CA8DB;
			font-weight: 600;
			text-transform: uppercase;
		}

		.label {
			padding: 0 4px;
		}
	}

	.simple-table {
		td {
			background: #FFF;
			border-bottom: 1px solid #DDD;

			&.event {
				background: #F9F9F9;
				font-weight: 600;
				line-height: 40px;
				vertical-align: text-top;
				width: 140px;
			}
		}

		tr:hover td {
			background: #FFFFF0;
		}

		.summary {
			padding: 10px 30px 10px 10px;

			&:first-child {
				margin: 0;
			}

			.action {
				position: absolute;
				right: 10px;
				top: 10px;
			}
		}
	}

	.rule {
		.icon.drag {
			cursor: move;
			display: none;
		}

		.detail {
			background: #FFF;
			border: 1px solid #CCC;
			border-left-width: 3px;
			border-right: none;
			margin-top: 15px;
			position: relative;

			> .action.remove {
				position: absolute;
				right: 5px;
				top: 5px;
			}

			.wrap {
				border-bottom: 1px dashed #DDD;
				padding: 10px 0 10px 10px;

				&:last-child {
					border: none;
					margin: 0;
				}
			}

			.condition {
				.label {
					float: left;
					margin-right: 10px;
					line-height: 17px;
				}

				.action {
					float: left;
					margin: 3px 5px 0 0;
				}
			}

			select,
			.button {
				float: left;
				margin-right: 10px;
			}

				.button.dropdown.only-icon {
					margin-top: 10px;

					&:first-child {
						margin: 0;
					}
				}

			.action.left {
				margin: 6px 10px 0 0;
			}

			.buttons {
				padding: 10px;
				.clearfix();
			}
		}

		.conditions-expression {
			.container {
				float: left;
				margin-right: 10px;
			}

			.action {
				float: left;
				margin: 4px 5px 0 0;
			}
		}

		.activities {
			li {
				background: #F5F5F5;
				border: 1px solid #DDD;
				line-height: 16px;
				margin: 0 10px 10px 0;
				width: 300px;
				padding: 4px;

				.icon.drag {
					display: none;
				}

				.action {
					float: right;
					margin-left: 10px;
				}

				.text {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}

			&.ui-sortable {
				li {
					padding-left: 10px;
					position: relative;

					.icon.drag {
						cursor: move;
						display: block;
						left: 2px;
						position: absolute;
						top: 3px;
					}
				}
			}
		}
	}

	.ui-sortable .rule {
		.summary {
			.icon.drag {
				display: block;
				left: 2px;
				margin-top: -9px;
				position: absolute;
				top: 50%;
			}
		}

		.detail {
			.icon.drag {
				display: block;
				left: -12px;
				position: absolute;
				top: -1px;
			}
		}
	}

	.rule-label {
		font-size: 16px;
		color: #3CA8DB;
		display: block;
		text-transform: uppercase;
	}
}

/* Rule summary
----------------------------------------------------------*/
.rule-summary {
	white-space: nowrap;

	.tag {
		color: #3CA8DB;
		font-weight: 600;
		text-transform: uppercase;
	}

	.label {
		padding: 0 4px;
	}

	.rule-summary {
		margin-left: 20px;
	}
}

/* Condition expression
----------------------------------------------------------*/
.conditions-expression {
	font-size: 14px;

	.flat-condition {
		background: #EEE;
		color: #777;
		margin: 0 2px;
		padding: 0 4px;
		.rounded(4px);
	}

	.keyword,
	.parenthsis {
		color: #666;
	}

	.param,
	.value {
		font-weight: 600;
	}
}

/* Attached activities
----------------------------------------------------------*/
.attached-activities-holder {
	padding-top: 5px;

	.attached-activities {
		li {
			margin-bottom: 5px;
			.clearfix();

			.desc {
				float: left;
				font-size: 14px;
				line-height: 16px;
				margin-right: 10px;
			}

			.action {
				float: left;
				margin-right: 5px;
			}
		}
	}
}

/* Activity table
----------------------------------------------------------*/
.simple-table.activity {

	tr:hover td {
		background: none;
	}

	tbody {
		border-bottom: 1px solid #F5F5F5;

		th {
			background: none;
			border: none;
			font-weight: 600;
			padding: 10px;
			white-space: nowrap;
			width: 15%;
		}

		td {
			background: #FFF;
			border-bottom: 1px dashed #D9D9D9;
			padding: 10px;
			white-space: normal;

			&.common {
				width: 16%;
			}

			&.always {
				border: none;
				border-left: 1px dashed #D9D9D9;
			}
		}

		tr:last-child td {
			border: none;
		}

		tr:nth-child(2n) td {
			background: #FFF;
		}

		&:hover td {
			background: #FFFFF0 !important;
		}
	}
}
