#customerName {
	display: inline-block;
	font-family: "SegoeUI", "Helvetica Neue", "OpenSans", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
	margin: 20px 0;
}

#customerName a {
	margin-left: 10px;
}

#customerDetail {
	th, td {
		padding: 0;
	}
}