@add: "0 0 26px 26px";
@angle-right-white: "0 -26px 5px 9px";
@back: "0 -35px 26px 26px";
@c-sharp: "0 -61px 16px 16px";
@caret-down-black: "0 -77px 7px 4px";
@caret-down-blue: "0 -81px 19px 9px";
@caret-hollow-right-black: "0 -90px 6px 9px";
@caret-hollow-right-gray: "0 -99px 6px 9px";
@caret-rightbottom-black: "0 -108px 6px 6px";
@caret-rightbottom-gray: "0 -114px 6px 6px";
@caret-toggle: "0 -120px 7px 10px";
@caret-up-black: "0 -130px 7px 4px";
@chevron-circle-down: "0 -134px 16px 16px";
@chevron-circle-up: "0 -150px 16px 16px";
@chevron-down-black: "0 -166px 8px 6px";
@chevron-down-gray: "0 -172px 8px 6px";
@chevron-down-white: "0 -178px 8px 6px";
@chevron-left-black: "0 -184px 6px 8px";
@chevron-left-gray: "0 -192px 6px 8px";
@chevron-left-white: "0 -200px 6px 8px";
@chevron-right-black: "0 -208px 6px 8px";
@chevron-right-gray: "0 -216px 6px 8px";
@chevron-right-white: "0 -224px 6px 8px";
@chevron-up-black: "0 -232px 8px 6px";
@chevron-up-gray: "0 -238px 8px 6px";
@chevron-up-white: "0 -244px 8px 6px";
@cluster: "0 -250px 17px 16px";
@corss-mini-white: "0 -266px 8px 8px";
@cross-small-red: "0 -274px 12px 12px";
@cross-white: "0 -286px 14px 14px";
@delete: "0 -300px 26px 26px";
@drag: "0 -326px 6px 18px";
@edit-small: "0 -344px 16px 16px";
@edit: "0 -360px 26px 26px";
@export: "0 -386px 26px 26px";
@file-doc: "0 -412px 16px 16px";
@file-empty: "0 -428px 16px 16px";
@file-image: "0 -444px 16px 16px";
@flip-x: "0 -460px 26px 22px";
@flip-y: "0 -482px 22px 26px";
@folder-add: "0 -508px 26px 26px";
@folder-blue: "0 -534px 16px 13px";
@folder-white: "0 -547px 16px 13px";
@global-small: "0 -560px 13px 12px";
@grid-gray: "0 -572px 20px 14px";
@grid-white: "0 -586px 20px 14px";
@home-gray: "0 -600px 32px 14px";
@home-white: "0 -614px 32px 14px";
@import-icon: "0 -628px 26px 26px";
@inline-edit: "0 -654px 16px 16px";
@input: "0 -670px 26px 26px";
@insert-page: "0 -696px 16px 16px";
@insert: "0 -712px 16px 16px";
@layout: "0 -728px 14px 12px";
@list-gray: "0 -740px 17px 14px";
@list-white: "0 -754px 17px 14px";
@localize: "0 -768px 26px 26px";
@media-library: "0 -794px 15px 15px";
@minus-black: "0 -809px 14px 14px";
@minus-mini: "0 -823px 11px 11px";
@minus-small: "0 -834px 16px 16px";
@minus-white: "0 -850px 14px 14px";
@minus: "0 -864px 28px 28px";
@module: "0 -892px 12px 12px";
@new-tag-blue: "0 -904px 16px 16px";
@new-tag-small-blue: "0 -920px 9px 9px";
@next-small: "0 -929px 16px 16px";
@next: "0 -945px 26px 26px";
@page-ab-testing: "0 -971px 17px 17px";
@page-inherited: "0 -988px 17px 17px";
@page-static: "0 -1005px 17px 17px";
@page-unsynchronized: "0 -1022px 17px 17px";
@plus-black: "0 -1039px 14px 14px";
@plus-mini: "0 -1053px 11px 11px";
@plus-small: "0 -1064px 16px 16px";
@plus-white: "0 -1080px 14px 14px";
@plus: "0 -1094px 28px 28px";
@preview: "0 -1122px 26px 26px";
@profile: "0 -1148px 11px 12px";
@redo-blue: "0 -1160px 15px 13px";
@redo-gray: "0 -1173px 15px 13px";
@refresh-blue: "0 -1186px 15px 12px";
@refresh-gray: "0 -1198px 15px 12px";
@relation: "0 -1210px 26px 26px";
@reset: "0 -1236px 26px 26px";
@rotate-anti: "0 -1262px 20px 20px";
@rotate: "0 -1282px 20px 20px";
@save-small: "0 -1302px 16px 16px";
@save: "0 -1318px 26px 26px";
@search: "0 -1344px 14px 14px";
@secure: "0 -1358px 26px 26px";
@select-blue: "0 -1384px 17px 18px";
@select-gray: "0 -1402px 17px 18px";
@send: "0 -1420px 26px 26px";
@setting-small: "0 -1446px 12px 12px";
@setting: "0 -1458px 26px 26px";
@signout: "0 -1484px 12px 12px";
@sort-asc: "0 -1496px 8px 11px";
@sort-desc: "0 -1507px 8px 11px";
@status-error: "0 -1518px 9px 9px";
@status-normal: "0 -1527px 19px 19px";
@status-off: "0 -1546px 9px 9px";
@status-on: "0 -1555px 9px 9px";
@status-warning: "0 -1564px 9px 9px";
@switch: "0 -1573px 28px 28px";
@tick: "0 -1601px 14px 12px";
@trash: "0 -1613px 26px 26px";
@triangle-down-black: "0 -1639px 11px 12px";
@triangle-right-black: "0 -1651px 12px 11px";
@undo-blue: "0 -1662px 15px 13px";
@undo-gray: "0 -1675px 15px 13px";
@upload: "0 -1688px 26px 26px";
@uploads: "0 -1714px 26px 26px";
@users: "0 -1740px 16px 12px";
@warning-small: "0 -1752px 12px 12px";
@warning: "0 -1764px 28px 24px";

.sprite (@sprite) {
	background: url(images/sprites.png) no-repeat e( `@{sprite}.split(' ')[0]` ) e( `@{sprite}.split(' ')[1]` );
	width: e( `@{sprite}.split(' ')[2]` );
	height: e( `@{sprite}.split(' ')[3]` );
}

.icon {
	background: url(images/sprites.png) no-repeat -999em -999em;
	display: inline-block;

	&.add {
		background-position: 0 0;
		height: 26px;
		width: 26px;
	}

	&.angle-right-white {
		background-position: 0 -26px;
		height: 9px;
		width: 5px;
	}

	&.back {
		background-position: 0 -35px;
		height: 26px;
		width: 26px;
	}

	&.c-sharp {
		background-position: 0 -61px;
		height: 16px;
		width: 16px;
	}

	&.caret-down-black {
		background-position: 0 -77px;
		height: 4px;
		width: 7px;
	}

	&.caret-down-blue {
		background-position: 0 -81px;
		height: 9px;
		width: 19px;
	}

	&.caret-hollow-right-black {
		background-position: 0 -90px;
		height: 9px;
		width: 6px;
	}

	&.caret-hollow-right-gray {
		background-position: 0 -99px;
		height: 9px;
		width: 6px;
	}

	&.caret-rightbottom-black {
		background-position: 0 -108px;
		height: 6px;
		width: 6px;
	}

	&.caret-rightbottom-gray {
		background-position: 0 -114px;
		height: 6px;
		width: 6px;
	}

	&.caret-toggle {
		background-position: 0 -120px;
		height: 10px;
		width: 7px;
	}

	&.caret-up-black {
		background-position: 0 -130px;
		height: 4px;
		width: 7px;
	}

	&.chevron-circle-down {
		background-position: 0 -134px;
		height: 16px;
		width: 16px;
	}

	&.chevron-circle-up {
		background-position: 0 -150px;
		height: 16px;
		width: 16px;
	}

	&.chevron-down-black {
		background-position: 0 -166px;
		height: 6px;
		width: 8px;
	}

	&.chevron-down-gray {
		background-position: 0 -172px;
		height: 6px;
		width: 8px;
	}

	&.chevron-down-white {
		background-position: 0 -178px;
		height: 6px;
		width: 8px;
	}

	&.chevron-left-black {
		background-position: 0 -184px;
		height: 8px;
		width: 6px;
	}

	&.chevron-left-gray {
		background-position: 0 -192px;
		height: 8px;
		width: 6px;
	}

	&.chevron-left-white {
		background-position: 0 -200px;
		height: 8px;
		width: 6px;
	}

	&.chevron-right-black {
		background-position: 0 -208px;
		height: 8px;
		width: 6px;
	}

	&.chevron-right-gray {
		background-position: 0 -216px;
		height: 8px;
		width: 6px;
	}

	&.chevron-right-white {
		background-position: 0 -224px;
		height: 8px;
		width: 6px;
	}

	&.chevron-up-black {
		background-position: 0 -232px;
		height: 6px;
		width: 8px;
	}

	&.chevron-up-gray {
		background-position: 0 -238px;
		height: 6px;
		width: 8px;
	}

	&.chevron-up-white {
		background-position: 0 -244px;
		height: 6px;
		width: 8px;
	}

	&.cluster {
		background-position: 0 -250px;
		height: 16px;
		width: 17px;
	}

	&.corss-mini-white {
		background-position: 0 -266px;
		height: 8px;
		width: 8px;
	}

	&.cross-small-red {
		background-position: 0 -274px;
		height: 12px;
		width: 12px;
	}

	&.cross-white {
		background-position: 0 -286px;
		height: 14px;
		width: 14px;
	}

	&.delete {
		background-position: 0 -300px;
		height: 26px;
		width: 26px;
	}

	&.drag {
		background-position: 0 -326px;
		height: 18px;
		width: 6px;
	}

	&.edit-small {
		background-position: 0 -344px;
		height: 16px;
		width: 16px;
	}

	&.edit {
		background-position: 0 -360px;
		height: 26px;
		width: 26px;
	}

	&.export {
		background-position: 0 -386px;
		height: 26px;
		width: 26px;
	}

	&.file-doc {
		background-position: 0 -412px;
		height: 16px;
		width: 16px;
	}

	&.file-empty {
		background-position: 0 -428px;
		height: 16px;
		width: 16px;
	}

	&.file-image {
		background-position: 0 -444px;
		height: 16px;
		width: 16px;
	}

	&.flip-x {
		background-position: 0 -460px;
		height: 22px;
		width: 26px;
	}

	&.flip-y {
		background-position: 0 -482px;
		height: 26px;
		width: 22px;
	}

	&.folder-add {
		background-position: 0 -508px;
		height: 26px;
		width: 26px;
	}

	&.folder-blue {
		background-position: 0 -534px;
		height: 13px;
		width: 16px;
	}

	&.folder-white {
		background-position: 0 -547px;
		height: 13px;
		width: 16px;
	}

	&.global-small {
		background-position: 0 -560px;
		height: 12px;
		width: 13px;
	}

	&.grid-gray {
		background-position: 0 -572px;
		height: 14px;
		width: 20px;
	}

	&.grid-white {
		background-position: 0 -586px;
		height: 14px;
		width: 20px;
	}

	&.home-gray {
		background-position: 0 -600px;
		height: 14px;
		width: 32px;
	}

	&.home-white {
		background-position: 0 -614px;
		height: 14px;
		width: 32px;
	}

	&.import-icon {
		background-position: 0 -628px;
		height: 26px;
		width: 26px;
	}

	&.inline-edit {
		background-position: 0 -654px;
		height: 16px;
		width: 16px;
	}

	&.input {
		background-position: 0 -670px;
		height: 26px;
		width: 26px;
	}

	&.insert-page {
		background-position: 0 -696px;
		height: 16px;
		width: 16px;
	}

	&.insert {
		background-position: 0 -712px;
		height: 16px;
		width: 16px;
	}

	&.layout {
		background-position: 0 -728px;
		height: 12px;
		width: 14px;
	}

	&.list-gray {
		background-position: 0 -740px;
		height: 14px;
		width: 17px;
	}

	&.list-white {
		background-position: 0 -754px;
		height: 14px;
		width: 17px;
	}

	&.localize {
		background-position: 0 -768px;
		height: 26px;
		width: 26px;
	}

	&.media-library {
		background-position: 0 -794px;
		height: 15px;
		width: 15px;
	}

	&.minus-black {
		background-position: 0 -809px;
		height: 14px;
		width: 14px;
	}

	&.minus-mini {
		background-position: 0 -823px;
		height: 11px;
		width: 11px;
	}

	&.minus-small {
		background-position: 0 -834px;
		height: 16px;
		width: 16px;
	}

	&.minus-white {
		background-position: 0 -850px;
		height: 14px;
		width: 14px;
	}

	&.minus {
		background-position: 0 -864px;
		height: 28px;
		width: 28px;
	}

	&.module {
		background-position: 0 -892px;
		height: 12px;
		width: 12px;
	}

	&.new-tag-blue {
		background-position: 0 -904px;
		height: 16px;
		width: 16px;
	}

	&.new-tag-small-blue {
		background-position: 0 -920px;
		height: 9px;
		width: 9px;
	}

	&.next-small {
		background-position: 0 -929px;
		height: 16px;
		width: 16px;
	}

	&.next {
		background-position: 0 -945px;
		height: 26px;
		width: 26px;
	}

	&.page-ab-testing {
		background-position: 0 -971px;
		height: 17px;
		width: 17px;
	}

	&.page-inherited {
		background-position: 0 -988px;
		height: 17px;
		width: 17px;
	}

	&.page-static {
		background-position: 0 -1005px;
		height: 17px;
		width: 17px;
	}

	&.page-unsynchronized {
		background-position: 0 -1022px;
		height: 17px;
		width: 17px;
	}

	&.plus-black {
		background-position: 0 -1039px;
		height: 14px;
		width: 14px;
	}

	&.plus-mini {
		background-position: 0 -1053px;
		height: 11px;
		width: 11px;
	}

	&.plus-small {
		background-position: 0 -1064px;
		height: 16px;
		width: 16px;
	}

	&.plus-white {
		background-position: 0 -1080px;
		height: 14px;
		width: 14px;
	}

	&.plus {
		background-position: 0 -1094px;
		height: 28px;
		width: 28px;
	}

	&.preview {
		background-position: 0 -1122px;
		height: 26px;
		width: 26px;
	}

	&.profile {
		background-position: 0 -1148px;
		height: 12px;
		width: 11px;
	}

	&.redo-blue {
		background-position: 0 -1160px;
		height: 13px;
		width: 15px;
	}

	&.redo-gray {
		background-position: 0 -1173px;
		height: 13px;
		width: 15px;
	}

	&.refresh-blue {
		background-position: 0 -1186px;
		height: 12px;
		width: 15px;
	}

	&.refresh-gray {
		background-position: 0 -1198px;
		height: 12px;
		width: 15px;
	}

	&.relation {
		background-position: 0 -1210px;
		height: 26px;
		width: 26px;
	}

	&.reset {
		background-position: 0 -1236px;
		height: 26px;
		width: 26px;
	}

	&.rotate-anti {
		background-position: 0 -1262px;
		height: 20px;
		width: 20px;
	}

	&.rotate {
		background-position: 0 -1282px;
		height: 20px;
		width: 20px;
	}

	&.save-small {
		background-position: 0 -1302px;
		height: 16px;
		width: 16px;
	}

	&.save {
		background-position: 0 -1318px;
		height: 26px;
		width: 26px;
	}

	&.search {
		background-position: 0 -1344px;
		height: 14px;
		width: 14px;
	}

	&.secure {
		background-position: 0 -1358px;
		height: 26px;
		width: 26px;
	}

	&.select-blue {
		background-position: 0 -1384px;
		height: 18px;
		width: 17px;
	}

	&.select-gray {
		background-position: 0 -1402px;
		height: 18px;
		width: 17px;
	}

	&.send {
		background-position: 0 -1420px;
		height: 26px;
		width: 26px;
	}

	&.setting-small {
		background-position: 0 -1446px;
		height: 12px;
		width: 12px;
	}

	&.setting {
		background-position: 0 -1458px;
		height: 26px;
		width: 26px;
	}

	&.signout {
		background-position: 0 -1484px;
		height: 12px;
		width: 12px;
	}

	&.sort-asc {
		background-position: 0 -1496px;
		height: 11px;
		width: 8px;
	}

	&.sort-desc {
		background-position: 0 -1507px;
		height: 11px;
		width: 8px;
	}

	&.status-error {
		background-position: 0 -1518px;
		height: 9px;
		width: 9px;
	}

	&.status-normal {
		background-position: 0 -1527px;
		height: 19px;
		width: 19px;
	}

	&.status-off {
		background-position: 0 -1546px;
		height: 9px;
		width: 9px;
	}

	&.status-on {
		background-position: 0 -1555px;
		height: 9px;
		width: 9px;
	}

	&.status-warning {
		background-position: 0 -1564px;
		height: 9px;
		width: 9px;
	}

	&.switch {
		background-position: 0 -1573px;
		height: 28px;
		width: 28px;
	}

	&.tick {
		background-position: 0 -1601px;
		height: 12px;
		width: 14px;
	}

	&.trash {
		background-position: 0 -1613px;
		height: 26px;
		width: 26px;
	}

	&.triangle-down-black {
		background-position: 0 -1639px;
		height: 12px;
		width: 11px;
	}

	&.triangle-right-black {
		background-position: 0 -1651px;
		height: 11px;
		width: 12px;
	}

	&.undo-blue {
		background-position: 0 -1662px;
		height: 13px;
		width: 15px;
	}

	&.undo-gray {
		background-position: 0 -1675px;
		height: 13px;
		width: 15px;
	}

	&.upload {
		background-position: 0 -1688px;
		height: 26px;
		width: 26px;
	}

	&.uploads {
		background-position: 0 -1714px;
		height: 26px;
		width: 26px;
	}

	&.users {
		background-position: 0 -1740px;
		height: 12px;
		width: 16px;
	}

	&.warning-small {
		background-position: 0 -1752px;
		height: 12px;
		width: 12px;
	}

	&.warning {
		background-position: 0 -1764px;
		height: 24px;
		width: 28px;
	}
}
