 <div class="rightBox" style="height: 121px;">
                            <img src="/Cms_Data/Sites/Vitaminstore/images/lady.png" alt="" style="position: absolute; right: -20px; top: -20px; z-index: 2;">
                            <a href="/Register.aspx" class="vtm-event-trigger" event-name="Click Register Button" id="NogGeenAccounts">
                                <img src="/Cms_Data/Sites/Vitaminstore/images/NewAccount.gif" alt="Nog geen accounts?">
                            </a>
                        </div>