@using Kooboo.Commerce.API;
@using Kooboo.Commerce.API.CmsSite;

<div class="checkout" id="cart-main">
    <ul class="checkout-nav">
        <li class="checkout-nav-item selected"><a>Uw Besteloverzicht</a></li>
        <li class="split"><a></a></li>
        <li class="checkout-nav-item"><a>Uw persoonlijke gegevens</a></li>
        <li class="split"><a></a></li>
        <li class="checkout-nav-item"><a>Bestelling afronden en betalen</a></li>
    </ul>

    @Html.AntiForgeryToken()

    <div class="checkout-content cart">
        <table>
            <tbody>
                <tr data-bind="if: Items().length === 0">
                    <td colspan="6" class="empty">U heeft op dit moment geen artikelen in uw winkelwagen.</td>
                </tr>
                <tr data-bind="if: Items().length === 0">
                    <td colspan="6" class="separator"></td>
                </tr>
                <!-- ko foreach: Items -->
                    <tr>
                        <td rowspan="3" class="pic top">
                            <a href="/Health/Speciaal/nacht/1002-SLAAPCOMPLEX-AOV/P215474">
                                <img style="width:115px;height:115px;" data-bind="attr: { src: $root.GetDefaultImageUrl(ProductPrice.Product) }">
                            </a>
                        </td>
                        <td colspan="3" class="name top">
                            <strong data-bind="text: ProductPrice.Name"></strong> van <em data-bind="text: ProductPrice.Product.Brand.Name"></em>
                        </td>
                        <td colspan="2" class="subtotal top remove">
                            <a href="#" data-bind="click: $root.RemoveItem">Product verwijderen</a>
                            <i class="icon-remove"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="content field-title">Inhoud</td>
                        <td class="quantity field-title">Aantal</td>
                        <td class="price field-title"><em>Prijs per stuk</em></td>
                        <td class="discount field-title" data-bind="visible: Discount"><em>Uw voordeel</em></td>
                        <td class="subtotal field-title"><strong>Totale Prijs</strong></td>
                    </tr>
                    <tr>
                        <td class="value">
                            <select data-bind="options: ProductPrice.Product.PriceList, optionsText: 'Name', optionsValue: 'Id', value: ProductPriceId">
                            </select>
                        </td>
                        <td class="value">
                            <select data-bind="options: $root.QuantityRange, value: Quantity">
                            </select>
                        </td>
                        <td class="value">
                            € <span data-bind="text: ProductPrice.RetailPrice"></span>
                        </td>
                        <td class="discount value" data-bind="visible: Discount">
                            € <span data-bind="text: Discount"></span>
                        </td>
                        <td class="subtotal subtotal-value value">
                            <strong>
                                € <span data-bind="text: Total"></span>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="separator"></td>
                    </tr>
                <!-- /ko -->

                <tr class="summary">
                    <td colspan="3" class="ordercode">

                        <ul>
                            <li>
                                <strong>Heeft u een kortingscode?</strong><br>
                                Vul deze dan hier in:
                            </li>
                            <li class="ordercode-input">
                                <input type="text" class="code"><a id="ctl00_cpContent_ibtnAddOrderCode" href="javascript:__doPostBack('ctl00$cpContent$ibtnAddOrderCode','')"><i class="icon-refresh"></i></a>
                            </li>
                            <li>
                                <br>
                            </li>
                        </ul>

                    </td>
                    <td colspan="3" class="subtotal">
                        <span class="total-title">Totaal voor deze bestelling:</span><br>
                        <span class="total-value">€ <span data-bind="text: Total"></span></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="subtotal buttons">
                        <a href="/ContinueShopping.aspx" class="btn continue-shopping">verder winkelen</a>
                        <a class="btn orange-btn next-step" href="javascript:__doPostBack('ctl00$cpContent$lbtnNextStep','')">naar stap 2 <i class="icon-chevron-right"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<button type="button" id="btn-add-test-item">Add Test Item</button>

<script>
    $(function () {
        var viewModel = new ShoppingCartModel();
        var serviceUrl = '@Url.FrontUrl().SubmissionUrl("Cart")';
        var mappingOptions = {
            Items: {
                key: function (data) {
                    return ko.utils.unwrapObservable(data.Id);
                },
                create: function (args) {
                    return new ShoppingCartItemModel(args.parent, args.data);
                }
            }
        };

        function ShoppingCartItemModel(cart, data) {
            var _this = this;
            var _cart = cart;

            this.ProductPriceId = ko.observable();

            this.Quantity = ko.observable();

            if (data) {
                ko.mapping.fromJS(data, {}, _this);
            }

            _this.Quantity.subscribe(function (quantity) {
                _cart.UpdateQuantity(_this, quantity);
            });

            _this.ProductPriceId.subscribe(function (priceId) {
                _cart.ChangeProductPrice(_this, priceId);
            });
        }

        function ShoppingCartModel() {
            var _this = this;

            this.QuantityRange = _.range(1, 20, 1);

            this.GetDefaultImageUrl = function (product) {
                var images = product.Images();
                if (images && images.length > 0) {
                    return images[0].ImageUrl;
                }

                return null;
            }

            this.RemoveItem = function (item) {
                http.post(serviceUrl + '?action=remove-item', {
                    itemId: item.Id()
                })
                .done(updateModelIfAjaxSuccess);
            }

            this.UpdateQuantity = function (item, quantity) {
                http.post(serviceUrl + '?action=update-quantity', {
                    productPriceId: item.ProductPrice.Id(),
                    quantity: quantity
                })
                .done(updateModelIfAjaxSuccess);
            }

            this.ChangeProductPrice = function (item, newProductPriceId) {
                http.post(serviceUrl + '?action=change-price', {
                    itemId: item.Id(),
                    newProductPriceId: newProductPriceId
                })
                .done(updateModelIfAjaxSuccess);
            }

            function updateModelIfAjaxSuccess(result) {
                if (result.Success) {
                    ko.mapping.fromJS(result.Model, mappingOptions, _this);
                } else {
                    alert(result.Messages.join('\n'));
                }
            }
        }

        // TODO: Add item test

        $('#btn-add-test-item').on('click', function () {
            AddItem();
        });

        function AddItem() {
            http.post('@Url.FrontUrl().SubmissionUrl("Cart")?action=add-item', {
                productPriceId: 44,
                quantity: 1
            });
        }

        http.post(serviceUrl + '?action=cartinfo')
            .done(function (result) {
                 if (result.Success) {
                     ko.mapping.fromJS(result.Model, mappingOptions, viewModel);
                     ko.applyBindings(viewModel, document.getElementById('cart-main'));
                 }
             });
    });
</script>