 <div class="rightBox">
                            <a href="http://www.twitter.com/Vitaminstore" target="_blank" class="vtm-event-trigger" event-category="Info Image" event-name="Click Twitter" id="Twitter">
                                <img src="/Cms_Data/Sites/Vitaminstore/images/twitter.gif" alt="twitter">
                            </a>
                        </div>