[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
Cms_Data/ImageCaching/
Cms_Data/Versions/
I18N/
Media/
TestResults
*.suo
*.user
*.log
/src/packages
/src/Kooboo.Commerce.Web/Uploads/commerce
/src/Kooboo.Commerce.Web/App_Data/Commerce/Instances.xml
