[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
Cms_Data/ImageCaching/
Cms_Data/Versions/
I18N/
Media/
TestResults
*.suo
*.user
*.log
/src/packages
/src/Kooboo.Commerce.Web/Uploads
/src/Kooboo.Commerce.Web/Commerce_Data/
/src/Kooboo.Commerce.Web/Cms_Data/Contents/*/Search/Index/
/src/Kooboo.Commerce.Web/Cms_Data/Sites/SampleSite/Assemblies
/src/Kooboo.Commerce.Web/Cms_Data/Sites/Vitaminstore/Assemblies
/src/Kooboo.Commerce.Web/App_Data/MailBox
/src/Kooboo.Commerce.Web/Cms_Data/Sites/SampleBusiness/Assemblies/Kooboo.Commerce.Payments.Fake.CMSIntegration.dll
/src/Kooboo.Commerce.Web/Cms_Data/Sites/SampleBusiness/Assemblies/Kooboo.Commerce.CMSIntegration.Plugins.dll
