[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
Cms_Data/ImageCaching/
Cms_Data/Versions/
I18N/
Media/
TestResults
*.suo
*.user
*.log
/src/packages
/src/Kooboo.Commerce.Web/Uploads/commerce
/src/Kooboo.Commerce.Web/App_Data/Commerce
/src/Kooboo.Commerce.Web/Cms_Data/Contents/*/Search/Index/
/src/Kooboo.Commerce.WebAPI/App_Data/Commerce
/src/Kooboo.Commerce.Web/Cms_Data/Sites/SampleSite/Assemblies/Kooboo.Commerce.API.CmsSite.dll
/src/Kooboo.Commerce.Web/Cms_Data/Sites/Vitaminstore/Assemblies/Kooboo.CMS.Plugins.Vitaminstore.dll
/src/Kooboo.Commerce.Web/Cms_Data/Sites/Vitaminstore/Assemblies/Kooboo.Commerce.API.CmsSite.dll
/src/Kooboo.Commerce.Web/Cms_Data/Sites/Vitaminstore/Assemblies/Kooboo.Commerce.CMSIntegration.Plugins.dll
/src/Kooboo.Commerce.Web/App_Data/MailBox
