<div class="rightBox" style="margin-top: 29px;">
    <ul class="usp">
        <li class="usp-title">Onze belofte</li>
        <li>
            <table>
                <tbody>
                    <tr>
                        <td><i class="icon-comments icon-2x"></i></td>
                        <td class="text"><a href="/klantenservice">Snelle en professionele service via email, telefoon en chat.</a></td>
                    </tr>
                    <tr>
                        <td><i class="icon-time icon-2x"></i></td>
                        <td class="text"><a href="/klantenservice/Bezorgen-en-afhalen#Levertijden">Binnen 24 uur verzonden.</a></td>
                    </tr>
                    <tr>
                        <td><i class="icon-truck icon-2x"></i></td>
                        <td class="text">
                            <a href="/klantenservice/Bezorgen-en-afhalen#verzendkosten" class="usp-shipping">
                                Slechts €1,45 verzendkosten, <strong>gratis</strong> boven € 55,-
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="line"></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/Cms_Data/Sites/Vitaminstore/images/logo_thuiswinkel.gif" alt="Thuiswinkel Waarborg">
                        </td>
                        <td class="text"><a href="https://beheer.thuiswinkel.org/leden/vitaminstore/certificaat" target="_blank">Gecertificeerd lid van <strong>Thuiswinkel Waarborg</strong></a></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/Cms_Data/Sites/Vitaminstore/images/Trustpilot.gif" alt="Trustpilot">
                        </td>
                        <td class="text stars">
                            <a href="http://www.trustpilot.nl/review/www.vitaminstore.nl" target="_blank"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-empty"></span></a>
                            <br>
                            <a href="http://www.trustpilot.nl/review/www.vitaminstore.nl" target="_blank">
                                4038
                                klanten via Trustpilot
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div> 