<ArrayOfMembershipUser xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Membership.Models">
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment></Comment>
		<Culture>en-AU</Culture>
		<Email>dylan.lin@qq.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>Y58RJCq0/5+NTDH3e3qZXwiY81Y=</Password>
		<PasswordAnswer></PasswordAnswer>
		<PasswordQuestion></PasswordQuestion>
		<PasswordSalt>E5XfWq8L7z59wLxhv4qQ/A==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId>China Standard Time</TimeZoneId>
		<UserName>dylan.lin@qq.com</UserName>
		<UtcCreationDate>2014-09-04T06:29:33.5161051Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate>2014-09-04T06:29:45.9349228Z</UtcLastLoginDate>
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
</ArrayOfMembershipUser>