<ArrayOfMembershipUser xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Membership.Models">
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment i:nil="true" />
		<Culture>en-US</Culture>
		<Email>dylan.lin@qq.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>ABVwXZ5DGZfpr06+/66x1iH12EY=</Password>
		<PasswordAnswer i:nil="true" />
		<PasswordQuestion i:nil="true" />
		<PasswordSalt>nq+nZEHw4z8YC0wApGAO2A==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId i:nil="true" />
		<UserName>dylan.lin@qq.com</UserName>
		<UtcCreationDate>2014-09-25T08:09:41.0012028Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate>2014-09-26T09:21:01.1589833Z</UtcLastLoginDate>
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
</ArrayOfMembershipUser>