<?xml version="1.0" encoding="utf-8"?>
<DataSourceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource">
	<DataSource xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource.ContentDataSource" i:type="d2p1:FolderDataSource">
		<d2p1:EnablePaging>false</d2p1:EnablePaging>
		<d2p1:FolderName>Article</d2p1:FolderName>
		<d2p1:PageIndex i:nil="true" />
		<d2p1:PageSize i:nil="true" />
		<d2p1:SortDirection>Descending</d2p1:SortDirection>
		<d2p1:SortField>UtcCreationDate</d2p1:SortField>
		<d2p1:TakeOperation>List</d2p1:TakeOperation>
		<d2p1:Top></d2p1:Top>
		<d2p1:WhereClauses i:nil="true" />
		<d2p1:CategoryClauses i:nil="true" />
		<d2p1:CategoryFolderName></d2p1:CategoryFolderName>
	</DataSource>
	<LastestEditor>admin</LastestEditor>
	<Relations i:nil="true" />
	<UtcCreationDate>2014-06-24T09:32:11.8315793Z</UtcCreationDate>
	<UtcLastestModificationDate>2014-06-24T09:32:11.8315793Z</UtcLastestModificationDate>
</DataSourceSetting>