<?xml version="1.0" encoding="utf-8"?>
<DataSourceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource">
	<DataSource xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources" i:type="d2p1:CommerceDataSource">
		<d2p1:EnablePaging>false</d2p1:EnablePaging>
		<d2p1:Filters />
		<d2p1:Includes xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
			<d3p1:string>Brand</d3p1:string>
		</d2p1:Includes>
		<d2p1:PageNumber i:nil="true" />
		<d2p1:PageSize i:nil="true" />
		<d2p1:SortDirection>Asc</d2p1:SortDirection>
		<d2p1:SortField i:nil="true" />
		<d2p1:SourceName>Products</d2p1:SourceName>
		<d2p1:TakeOperation>List</d2p1:TakeOperation>
		<d2p1:Top>5</d2p1:Top>
	</DataSource>
	<LastestEditor>admin</LastestEditor>
	<Relations i:nil="true" />
	<UtcCreationDate>2014-06-24T12:07:34.1360559Z</UtcCreationDate>
	<UtcLastestModificationDate>2014-06-24T12:24:46.9280075Z</UtcLastestModificationDate>
</DataSourceSetting>