@model ProductTypeModel

<div class="common-form">
    <table>
        <tbody>
            @Html.EditorFor(m => m.Name, new { HtmlAttributes = new { @class = "medium" } })
            @Html.EditorFor(m => m.SkuAlias, new { HtmlAttributes = new { @class = "medium" } })
            @Html.EditorFor(m => m.IsEnabled)
        </tbody>
    </table>
</div>
