@model PagedList<BrandGridItemModel>
@{
    ViewBag.Title = "Brands".Localize();
    ViewBag.EnableSearch = true;
}

@Html.GridFor2(typeof(BrandGridItemModel), Model)
<div class="pagination">
    @Html.Pager(Model, "", ViewContext.RequestContext.AllRouteValues(), null)
</div>

