 <div class="homebanner2">
    <div class="homebanner2-left">
        <a href="http://newshoppage.vitaminstore.eu/sports/spieren/herstel/100-whey-protein-isolate/P217835" id="ctl00_cpContent_homebanner2_hlBanner2Left">
            <img src="/flash/images/42100-wei-gratisshaker.jpg" id="ctl00_cpContent_homebanner2_imgBanner2Left" border="0"></a>
    </div>
    <div class="homebanner2-right">
        <a href="http://newshoppage.vitaminstore.eu/beauty/haar/verzorging/Huid-Haar-Nagel-VitaminBeauty-verzorging-multi/P56867"><img src="/flash/images/33Huid-Haar-Nagel.jpg" alt="" border="0"></a>
     </div>
</div>