@model CategoryEditorModel
@{
    ViewBag.Title = "Edit Category".Localize();
}

@section Panel{
    @Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.AddSaveButton();
        buttons.AddCancelButton();
    })
}

<div class="block common-form">
    @Html.Partial("_Editor", Model)
</div>