@using Kooboo.Commerce.Web.Framework.UI.Form
@{
    var productType = (ProductType)ViewBag.ProductType;
    var controls = FormControls.Controls().ToList();
}

<div class="common-form">
    <input type="hidden" name="ProductId" data-bind="value: Id" />
    <input type="hidden" name="FieldType" value="CustomField" />
    <table>
        <tbody>
            @foreach (var customField in productType.CustomFields)
            {
                var field = customField.CustomField;
                var control = controls.FirstOrDefault(c => c.Name == field.ControlType);
                if (control == null)
                {
                    control = controls.First();
                }
                <tr>
                    <th>@field.Label</th>
                    <td>
                        @control.Render(field, null, new
                                        {
                                            @class = "medium",
                                            style = "width:35%",
                                            data_field_type = "CustomField",
                                            data_bind = control.ValueBindingName + ": $root.GetCustomFieldValue('" + field.Name + "')"
                                        }, ViewContext)
                        @if (!String.IsNullOrEmpty(field.Tooltip))
                        {
                            <em class="form-tip">@field.Tooltip</em>
                        }
                        <span data-valmsg-for="@field.Name" data-valmsg-replace="true"></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>