@model Kooboo.Commerce.Payments.iDeal.IDealSettings
@{
    Layout = "~/Areas/Commerce/Views/Shared/AddIns/_PaymentProcessorSettings.cshtml";
}

<div class="common-form">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <table>
            <tbody>
                @Html.EditorFor(m => m.PartnerId)
                @Html.EditorFor(m => m.TestMode)
            </tbody>
        </table>
    }
</div>