     <div style="line-height: 14px; font-size: 9pt;">
        <span style="font-size: 14px; font-weight: bolder;">Bedankt voor uw bestelling!</span>
        <br />
        <br />
        Uw betaling is succesvol afgerond en wordt zo spoedig mogelijk verwerkt.
        <br />
        <br />
        <uc1:Thankyou ID="Thankyou1" runat="server" />
        <br />
        <br />
        Mocht u nog vragen hebben, dan verzoeken wij u die bij voorkeur per e-mail te stellen
        aan: info@vitaminstore.nl
        <br />
        <br />
        Met gezonde groet,
        <br />
        <br />
        <br />
        Het Vitaminstore Team<br />
        <br />
    </div>