<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <items>
    <add name="Start" text="Start" action="Start" controller="Instance" />
    <add name="Catalog" text="Catalog">
      <items>
        <add name="Categories" text="Categories" action="Index" controller="Category" />
        <add name="Brands" text="Brands" action="Index" controller="Brand" />
        <add name="Products" text="Products" action="Index" controller="Product" />
        <add name="MediaLibrary" text="Media Library" action="Index" controller="MediaLibrary" />
      </items>
    </add>
    <add name="Orders" text="Orders" action="Index" controller="Order" />
    <add name="BusinessRules" text="Business Rules" />
    <add name="Shop" text="Shop">
      <items>
        <add name="Promotions" text="Promotions" action="Index" controller="Promotion" />
        <add name="PaymentMethods" text="Payment methods" action="Index" controller="PaymentMethod" />
        <add name="ShippingMethods" text="Shipping methods" action="Index" controller="ShippingMethod" />
      </items>
    </add>
    <add name="Customers" text="Customers" action="Index" controller="Customer" />
    <add name="System" text="System">
      <items>
        <add name="Settings" text="Settings" action="Index" controller="Setting" />
        <add name="Countries" text="Countries" action="Index" controller="Country" />
        <add name="ProductTypes" text="Product types" action="Index" visible="true" controller="ProductType" />
      </items>
    </add>
  </items>
</menu>