<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <items>
    <add name="Commerce" text="Commerce">
      <items>
        <add name="Instances" text="Instances" action="Index" controller="Instance" />
        <!--<add name="HalApi" text="HAL API" action="List" controller="HalResource" />-->
        <add name="AddInManagement" text="Add-ins" action="Index" controller="AddInManagement" />
      </items>
    </add>
  </items>
</menu>