<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <items>
    <add name="CommerceInstances" text="Instances" action="Index" controller="CommerceInstance" area="Commerce" />
    <add name="HalApi" text="HAL API" action="Resources" controller="Hal" area="Commerce" />
    <add name="AddInManagement" text="Add-ins" action="Index" controller="AddInManagement" area="Commerce" />
  </items>
</menu>