<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <items>
    <add name="CommerceInstances" text="Instances" action="Index" controller="CommerceInstance" />
    <add name="Catalog" text="Catalog">
      <items>
        <add name="Categories" text="Categories" action="Index" controller="Category" initializer="Kooboo.Commerce.Web.Areas.Commerce.Menu.CommerceMenuItemInitializer, Kooboo.Commerce.Web" />
        <!--<add name="Catalogs" text="Catalogs" action="Index" controller="Catalog" />-->
        <add name="Brands" text="Brands" action="Index" controller="Brand" initializer="Kooboo.Commerce.Web.Areas.Commerce.Menu.CommerceMenuItemInitializer, Kooboo.Commerce.Web" />
        <add name="ProductTypes" text="Product types" action="Index" visible="true" controller="ProductType" initializer="Kooboo.Commerce.Web.Areas.Commerce.Menu.CommerceMenuItemInitializer, Kooboo.Commerce.Web" />
        <add name="Products" text="Products" action="Index" controller="Product" initializer="Kooboo.Commerce.Web.Areas.Commerce.Menu.CommerceMenuItemInitializer, Kooboo.Commerce.Web" />
      </items>
    </add>
    <add name="Orders" text="Orders" action="Index" controller="Order" initializer="Kooboo.Commerce.Web.Areas.Commerce.Menu.CommerceMenuItemInitializer, Kooboo.Commerce.Web" />
    <add name="Events" text="Events" initializer="Kooboo.Commerce.Web.Areas.Commerce.Menu.CommerceMenuItemInitializer, Kooboo.Commerce.Web">
      <items type="Kooboo.Commerce.Web.Areas.Commerce.Menu.EventMenuItems,Kooboo.Commerce.Web">
      </items>
    </add>
    <add name="Shop" text="Shop">
      <items>
        <add name="Promotions" text="Promotions" action="Index" controller="Promotion" initializer="Kooboo.Commerce.Web.Areas.Commerce.Menu.CommerceMenuItemInitializer, Kooboo.Commerce.Web" />
        <add name="PaymentMethods" text="Payment methods" action="Index" controller="PaymentMethod" initializer="Kooboo.Commerce.Web.Areas.Commerce.Menu.CommerceMenuItemInitializer, Kooboo.Commerce.Web" />
        <add name="ShippingMethods" text="Shipping methods" action="Index" controller="ShippingMethod" initializer="Kooboo.Commerce.Web.Areas.Commerce.Menu.CommerceMenuItemInitializer, Kooboo.Commerce.Web" />
        <add name="ShipmentTrackers" text="Shipment trackers" action="Index" controller="ShipmentTracker" initializer="Kooboo.Commerce.Web.Areas.Commerce.Menu.CommerceMenuItemInitializer, Kooboo.Commerce.Web" />
        <!--<add name="Taxes" text="Taxes" action="Index" controller="Tax" initializer="Kooboo.Commerce.Web.Areas.Commerce.Menu.CommerceMenuItemInitializer, Kooboo.Commerce.Web" />-->
        <add name="Countries" text="Countries" action="Index" controller="Country" initializer="Kooboo.Commerce.Web.Areas.Commerce.Menu.CommerceMenuItemInitializer, Kooboo.Commerce.Web" />
        <!--<add name="Stores" text="Stores" action="Index" controller="Store" />-->
      </items>
    </add>
    <add name="Customers" text="Customers" action="Index" controller="Customer" initializer="Kooboo.Commerce.Web.Areas.Commerce.Menu.CommerceMenuItemInitializer, Kooboo.Commerce.Web" />
    <add name="System" text="System">
      <items>
        <add name="Settings" text="Settings" action="Index" controller="Setting" initializer="Kooboo.Commerce.Web.Areas.Commerce.Menu.CommerceMenuItemInitializer, Kooboo.Commerce.Web" />
      </items>
    </add>
  </items>
</menu>