<!-- ko if: $($element).parents('.rule').length === 1 -->
<div class="summary">
    <a href="#" data-toggle="expand-rule">
        @Html.IconImage("caret-hollow-right-black")
    </a>
    <a class="action remove" href="#" data-bind="click: $root.RemoveRule">@Html.IconImage("minus-small")</a>
    <div class="summary-text" data-bind="html: $root.GetRuleSummary($data)"></div>
</div>
<!-- /ko -->