<!-- ko if: $($element).parents('.rule').length === 1 -->
<div class="buttons">
    <a href="#" class="button light-gray" data-toggle="collapse-rule">@Html.IconImage("minus-mini") @("Collapse".Localize())</a>
</div>
<!-- /ko -->
