@model IList<EventSlot>
@{
    ViewBag.Title = "Overview".Localize();
}

<div class="block">
    @foreach (var slot in Model) {
    <div class="columns">
        <div class="span4">
            @slot.EventName
        </div>
        <div class="span8">
            @foreach (var rule in slot.Rules)
            {
                
            }
        </div>
    </div>
    }
</div>
