@model PaymentProcessorConfigEditorModel
@{
    var processor = ViewBag.Processor as IPaymentProcessor;
    var configModelType = processor.ConfigModelType;
}

<form class="common-form" id="default-payment-processor-editor">
    @Html.HiddenFor(m => m.PaymentMethodId)
    <input type="hidden" name="Config.BindingType" value="@Html.Raw(configModelType.AssemblyQualifiedName)" />
    <table>
        <tbody>
            @foreach (var prop in configModelType.GetProperties(System.Reflection.BindingFlags.Public | System.Reflection.BindingFlags.Instance))
            {
                @Html.Editor("Config." + prop.Name)
            }
        </tbody>
    </table>
</form>

<script>
    (function ($) {

        var editor = PaymentProcessorEditor.current();

        editor.on('saving', function (sender, args) {
            return $.post(
                '@Url.Action("UpdateProcessorConfig", "PaymentMethod")',
                $('#default-payment-processor-editor').serializeArray()
            )
            .fail(function (data) {
                window.loading.hide();
                info.show(data.Message, false);
            });
        });

    })(jQuery);
</script>