@model PaymentMethodEditorModel
@{
    Layout = "~/Views/Shared/Blank.cshtml";
    ViewBag.Title = "Edit payment method".Localize();
}

@section Panel {
    @Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.Add("Next", "next").AsAjaxFormTrigger();
        buttons.AddCancelButton();
    })
}

<div class="block common-form">
    @Html.EditorForModel()
</div>