@model PagedList<PaymentMethodRowModel>
@{
    ViewBag.Title = "Payment methods".Localize();
}

@section Panel {
    @(Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.AddCreateButton("BasicInfo");
        buttons.AddEnableButton();
        buttons.AddDisableButton();
        buttons.AddAjaxPostButton("Settings", "setting", "Settings", new { @return = Request.RawUrl })
               .VisibleWhen(GridChecked.Single)
               .VisibleWhenSelected(".configurable");
        buttons.AddDeleteButton();
    }))
}

@Html.GridFor2(typeof(PaymentMethodRowModel), Model)

<div class="pagination">
    @Html.Pager(Model, "", ViewContext.RequestContext.AllRouteValues(), null)
</div>