<?xml version="1.0" encoding="utf-8"?>
<DataSourceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource">
	<DataSource xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources" i:type="d2p1:CommerceDataSource">
		<d2p1:EnablePaging>true</d2p1:EnablePaging>
		<d2p1:Includes xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		<d2p1:PageNumber>{page}</d2p1:PageNumber>
		<d2p1:PageSize>10</d2p1:PageSize>
		<d2p1:QueryFilters />
		<d2p1:QueryName>BestSellers</d2p1:QueryName>
		<d2p1:QueryType>List</d2p1:QueryType>
	</DataSource>
	<LastestEditor>admin</LastestEditor>
	<UtcCreationDate>2014-06-08T15:30:27.0545559Z</UtcCreationDate>
	<UtcLastestModificationDate>2014-06-08T15:30:27.0545559Z</UtcLastestModificationDate>
</DataSourceSetting>