<?xml version="1.0" encoding="utf-8"?>
<DataSourceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource">
	<DataSource xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources" i:type="d2p1:CommerceDataSourceAdapter">
		<d2p1:CommerceDataSource xmlns:d3p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources.Generic.ApiBased" i:type="d3p1:CategoryDataSource">
			<Settings xmlns="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources.Generic">
				<EnablePaging>false</EnablePaging>
				<Filters>
					<SavedFilter>
						<Name>ByParent</Name>
						<ParameterValues>
							<SavedFilterParameterValue>
								<ParameterName>ParentId</ParameterName>
								<ParameterValue>{categoryId}</ParameterValue>
							</SavedFilterParameterValue>
						</ParameterValues>
						<Required>false</Required>
					</SavedFilter>
				</Filters>
				<Includes xmlns:d5p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
					<d5p1:string>Children</d5p1:string>
				</Includes>
				<PageNumber i:nil="true" />
				<PageSize i:nil="true" />
				<SortDirection>Asc</SortDirection>
				<SortField>Id</SortField>
				<TakeOperation>List</TakeOperation>
				<Top></Top>
			</Settings>
		</d2p1:CommerceDataSource>
		<d2p1:CommerceDataSourceType>Kooboo.Commerce.CMSIntegration.DataSources.Generic.ApiBased.CategoryDataSource, Kooboo.Commerce.CMSIntegration.DataSources</d2p1:CommerceDataSourceType>
	</DataSource>
	<LastestEditor>admin</LastestEditor>
	<Relations i:nil="true" />
	<UtcCreationDate>2014-08-15T02:42:06.7153924Z</UtcCreationDate>
	<UtcLastestModificationDate>2014-08-15T03:42:18.8641531Z</UtcLastestModificationDate>
</DataSourceSetting>