<?xml version="1.0" encoding="utf-8"?>
<DataSourceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource">
	<DataSource xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources" i:type="d2p1:CommerceDataSourceAdapter">
		<d2p1:CommerceDataSource xmlns:d3p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources.Generic.ApiBased" i:type="d3p1:ShoppingCartDataSource">
			<Settings xmlns="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources.Generic">
				<EnablePaging>false</EnablePaging>
				<Filters>
					<Filter>
						<Name>ByCurrentCustomer</Name>
						<ParameterValues />
					</Filter>
				</Filters>
				<Includes xmlns:d5p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
					<d5p1:string>Items</d5p1:string>
					<d5p1:string>Items.Product</d5p1:string>
					<d5p1:string>Items.Product.Brand</d5p1:string>
					<d5p1:string>Items.Product.Categories</d5p1:string>
					<d5p1:string>Items.Product.Categories.Children</d5p1:string>
					<d5p1:string>Items.Product.CustomFields</d5p1:string>
					<d5p1:string>Items.Product.Images</d5p1:string>
					<d5p1:string>Items.Product.PriceRange</d5p1:string>
					<d5p1:string>Items.Product.Variants</d5p1:string>
					<d5p1:string>Items.Product.Variants.VariantFields</d5p1:string>
				</Includes>
				<PageNumber i:nil="true" />
				<PageSize i:nil="true" />
				<SortDirection>Asc</SortDirection>
				<SortField i:nil="true" />
				<TakeOperation>First</TakeOperation>
				<Top></Top>
			</Settings>
		</d2p1:CommerceDataSource>
	</DataSource>
	<LastestEditor>admin</LastestEditor>
	<Relations i:nil="true" />
	<UtcCreationDate>2014-08-07T05:27:09.8643117Z</UtcCreationDate>
	<UtcLastestModificationDate>2014-08-07T05:45:12.3411427Z</UtcLastestModificationDate>
</DataSourceSetting>