<?xml version="1.0" encoding="utf-8"?>
<DataSourceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource">
	<DataSource xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources" i:type="d2p1:CommerceDataSource">
		<d2p1:EnablePaging>false</d2p1:EnablePaging>
		<d2p1:Includes xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
			<d3p1:string>Brand</d3p1:string>
		</d2p1:Includes>
		<d2p1:PageNumber i:nil="true" />
		<d2p1:PageSize i:nil="true" />
		<d2p1:QueryFilters>
			<d2p1:AddedQueryFilter>
				<d2p1:Name>ById</d2p1:Name>
				<d2p1:ParameterValues>
					<d2p1:QueryFilterParameterValue>
						<d2p1:ParameterName>id</d2p1:ParameterName>
						<d2p1:ParameterValue>5</d2p1:ParameterValue>
					</d2p1:QueryFilterParameterValue>
				</d2p1:ParameterValues>
			</d2p1:AddedQueryFilter>
		</d2p1:QueryFilters>
		<d2p1:QueryName>Products</d2p1:QueryName>
		<d2p1:QueryType>FirstOrDefault</d2p1:QueryType>
	</DataSource>
	<LastestEditor>admin</LastestEditor>
	<UtcCreationDate>2014-05-17T08:11:56.7450662Z</UtcCreationDate>
	<UtcLastestModificationDate>2014-05-17T08:30:03.6385087Z</UtcLastestModificationDate>
</DataSourceSetting>