<?xml version="1.0" encoding="utf-8"?>
<DataSourceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource">
	<DataSource xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources" i:type="d2p1:CommerceDataSourceAdapter">
		<d2p1:CommerceDataSource xmlns:d3p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.Search.CMSIntegration" i:type="d3p1:ProductIndexDataSource">
			<d3p1:Filters>
				<d3p1:Filter>
					<d3p1:Field>SearchText</d3p1:Field>
					<d3p1:FieldValue>{keywords}</d3p1:FieldValue>
					<d3p1:FromInclusive>true</d3p1:FromInclusive>
					<d3p1:FromValue></d3p1:FromValue>
					<d3p1:LowercaseInput>true</d3p1:LowercaseInput>
					<d3p1:Name>Keywords</d3p1:Name>
					<d3p1:ToInclusive>false</d3p1:ToInclusive>
					<d3p1:ToValue></d3p1:ToValue>
					<d3p1:UseRangeFiltering>false</d3p1:UseRangeFiltering>
				</d3p1:Filter>
				<d3p1:Filter>
					<d3p1:Field>Brand</d3p1:Field>
					<d3p1:FieldValue>{brand}</d3p1:FieldValue>
					<d3p1:FromInclusive>true</d3p1:FromInclusive>
					<d3p1:FromValue></d3p1:FromValue>
					<d3p1:LowercaseInput>false</d3p1:LowercaseInput>
					<d3p1:Name>Brand</d3p1:Name>
					<d3p1:ToInclusive>false</d3p1:ToInclusive>
					<d3p1:ToValue></d3p1:ToValue>
					<d3p1:UseRangeFiltering>false</d3p1:UseRangeFiltering>
				</d3p1:Filter>
				<d3p1:Filter>
					<d3p1:Field>Categories</d3p1:Field>
					<d3p1:FieldValue>{category}</d3p1:FieldValue>
					<d3p1:FromInclusive>true</d3p1:FromInclusive>
					<d3p1:FromValue></d3p1:FromValue>
					<d3p1:LowercaseInput>false</d3p1:LowercaseInput>
					<d3p1:Name>Category</d3p1:Name>
					<d3p1:ToInclusive>false</d3p1:ToInclusive>
					<d3p1:ToValue></d3p1:ToValue>
					<d3p1:UseRangeFiltering>false</d3p1:UseRangeFiltering>
				</d3p1:Filter>
				<d3p1:Filter>
					<d3p1:Field>VariantFieldValues[CPU]</d3p1:Field>
					<d3p1:FieldValue>{cpu}</d3p1:FieldValue>
					<d3p1:FromInclusive>true</d3p1:FromInclusive>
					<d3p1:FromValue></d3p1:FromValue>
					<d3p1:LowercaseInput>false</d3p1:LowercaseInput>
					<d3p1:Name>CPU</d3p1:Name>
					<d3p1:ToInclusive>false</d3p1:ToInclusive>
					<d3p1:ToValue></d3p1:ToValue>
					<d3p1:UseRangeFiltering>false</d3p1:UseRangeFiltering>
				</d3p1:Filter>
				<d3p1:Filter>
					<d3p1:Field>VariantFieldValues[RAM]</d3p1:Field>
					<d3p1:FieldValue>{ram}</d3p1:FieldValue>
					<d3p1:FromInclusive>true</d3p1:FromInclusive>
					<d3p1:FromValue></d3p1:FromValue>
					<d3p1:LowercaseInput>false</d3p1:LowercaseInput>
					<d3p1:Name>RAM</d3p1:Name>
					<d3p1:ToInclusive>false</d3p1:ToInclusive>
					<d3p1:ToValue></d3p1:ToValue>
					<d3p1:UseRangeFiltering>false</d3p1:UseRangeFiltering>
				</d3p1:Filter>
			</d3p1:Filters>
			<d3p1:PageNumber>{page}</d3p1:PageNumber>
			<d3p1:PageSize>{pageSize}</d3p1:PageSize>
			<d3p1:SortField></d3p1:SortField>
		</d2p1:CommerceDataSource>
		<d2p1:CommerceDataSourceType>Kooboo.Commerce.Search.CMSIntegration.ProductIndexDataSource, Kooboo.Commerce.Search</d2p1:CommerceDataSourceType>
	</DataSource>
	<LastestEditor>admin</LastestEditor>
	<Relations i:nil="true" />
	<UtcCreationDate>2014-08-09T09:41:59.2661434Z</UtcCreationDate>
	<UtcLastestModificationDate>2014-08-09T14:31:11.5626066Z</UtcLastestModificationDate>
</DataSourceSetting>