<?xml version="1.0" encoding="utf-8"?>
<DataSourceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource">
	<DataSource xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources" i:type="d2p1:CommerceDataSource">
		<d2p1:EnablePaging>false</d2p1:EnablePaging>
		<d2p1:Filters>
			<d2p1:DataSourceFilter>
				<d2p1:Name>ById</d2p1:Name>
				<d2p1:ParameterValues>
					<d2p1:DataSourceFilterParameterValue>
						<d2p1:ParameterName>id</d2p1:ParameterName>
						<d2p1:ParameterValue>{id}</d2p1:ParameterValue>
					</d2p1:DataSourceFilterParameterValue>
				</d2p1:ParameterValues>
			</d2p1:DataSourceFilter>
		</d2p1:Filters>
		<d2p1:Includes xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
			<d3p1:string>Brand</d3p1:string>
			<d3p1:string>Images</d3p1:string>
			<d3p1:string>PriceList</d3p1:string>
			<d3p1:string>Type</d3p1:string>
		</d2p1:Includes>
		<d2p1:PageNumber i:nil="true" />
		<d2p1:PageSize i:nil="true" />
		<d2p1:SortDirection>Asc</d2p1:SortDirection>
		<d2p1:SortField i:nil="true" />
		<d2p1:SourceName>Products</d2p1:SourceName>
		<d2p1:TakeOperation>First</d2p1:TakeOperation>
		<d2p1:Top></d2p1:Top>
	</DataSource>
	<LastestEditor>admin</LastestEditor>
	<Relations>
		<DataSourceRelation>
			<LazyLoad>true</LazyLoad>
			<ParameterValues xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
				<d4p1:KeyValueOfstringstring>
					<d4p1:Key>productId</d4p1:Key>
					<d4p1:Value>{Id}</d4p1:Value>
				</d4p1:KeyValueOfstringstring>
			</ParameterValues>
			<TargetDataSourceName>Recommendations</TargetDataSourceName>
		</DataSourceRelation>
		<DataSourceRelation>
			<LazyLoad>true</LazyLoad>
			<ParameterValues xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
				<d4p1:KeyValueOfstringstring>
					<d4p1:Key>productId</d4p1:Key>
					<d4p1:Value>{Id}</d4p1:Value>
				</d4p1:KeyValueOfstringstring>
			</ParameterValues>
			<TargetDataSourceName>Accessories</TargetDataSourceName>
		</DataSourceRelation>
	</Relations>
	<UtcCreationDate>2014-06-16T15:11:38.7458311Z</UtcCreationDate>
	<UtcLastestModificationDate>2014-06-16T15:14:52.4827518Z</UtcLastestModificationDate>
</DataSourceSetting>