<?xml version="1.0" encoding="utf-8"?>
<DataSourceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource">
	<DataSource xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources" i:type="d2p1:CommerceDataSourceAdapter">
		<d2p1:CommerceDataSource xmlns:d3p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources.Recommendations" i:type="d3p1:RecommendationDataSource">
			<Settings xmlns="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources.Generic">
				<EnablePaging>false</EnablePaging>
				<Filters>
					<Filter>
						<Name>ByProduct</Name>
						<ParameterValues>
							<FilterParameterValue>
								<ParameterName>productId</ParameterName>
								<ParameterValue>{id}</ParameterValue>
							</FilterParameterValue>
						</ParameterValues>
					</Filter>
				</Filters>
				<Includes xmlns:d5p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
				<PageNumber i:nil="true" />
				<PageSize i:nil="true" />
				<SortDirection>Asc</SortDirection>
				<SortField>Rank</SortField>
				<TakeOperation>List</TakeOperation>
				<Top></Top>
			</Settings>
		</d2p1:CommerceDataSource>
	</DataSource>
	<LastestEditor>admin</LastestEditor>
	<Relations i:nil="true" />
	<UtcCreationDate>2014-08-07T05:35:37.1499942Z</UtcCreationDate>
	<UtcLastestModificationDate>2014-08-07T05:35:37.1499942Z</UtcLastestModificationDate>
</DataSourceSetting>