@{
    var recommendations = ViewBag.Recommendations;
}

<div id="alsoBought">
    <div class="title">Recommendations</div>
    <div class="item">
        <div id="pro" style="margin: 0; font-size: 11px;">
            @if (recommendations != null)
            {
                foreach (var recommendation in recommendations)
                {
                    var item = recommendation.Product;
                    var reason = recommendation.Reason;

                    var image = item.GetImage("List");
                    
                    <div style="width: 152px;">
                        <div class="productpicture">
                            <a href="/product/@item.Id">
                            @if (image != null) {
                                <img src="@image.ImageUrl" style="border-width:0px;">
                            }
                            </a>
                        </div>
                        <div class="content" style="padding-top:5px">
                            <a class="GreyLink" href="/product/@item.Id">
                                <strong>@item.Name</strong>
                            </a>
                            @if (reason != null)
                            {
                                <div style="text-align:left;margin-top:5px">
                                    Recommend because u like: <a href="/product/@reason.Id">@reason.Name</a>
                                </div>
                            }
                        </div>
                        <div class="Price">
                            <a class="GreyLink" href="/product/@item.Id">
                                <span class="Price_normal">
                                    € @item.LowestPrice
                                </span>
                            </a>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
    <div class="bottom">
    </div>
</div>