<?xml version="1.0" encoding="utf-8"?>
<Site xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>0001-01-01T00:00:00</LastUpdateDate>
	<HtmlMeta>
		<Author></Author>
		<Keywords>aankomen, Afvallen, Aminozuren, Duursport, EAS, Fitness, GH releaser, herstel na sport, MDoubleYou, pure creatine, Slank door sport, Sportvitamine, sportvoeding, Wei eiwitpoeder</Keywords>
		<Description>sports, , VitaminSports bevat de grootste verzameling sportvoeding van Nederland. Bij ons koop je het niet alleen voordelig, ook met leuke kortingen en vaak al morgen in huis!</Description>
		<Customs xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<HtmlTitle>Vitaminstore.nl</HtmlTitle>
		<Canonical></Canonical>
	</HtmlMeta>
	<Membership>SampleSite</Membership>
	<SSLDetection xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Common">
		<d2p1:Key></d2p1:Key>
		<d2p1:Value></d2p1:Value>
	</SSLDetection>
	<UserAgent></UserAgent>
	<DisplayName>Vitaminstore</DisplayName>
	<Culture>en-US</Culture>
	<Theme>default</Theme>
	<Domains xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<SitePath></SitePath>
	<Mode>Debug</Mode>
	<Version>1.0.0.20140504080059</Version>
	<Repository>Vitaminstore</Repository>
	<CustomErrors i:nil="true" />
	<EnableJquery>true</EnableJquery>
	<InlineEditing>false</InlineEditing>
	<Smtp>
		<EnableSsl>false</EnableSsl>
		<From></From>
		<Host></Host>
		<Password>abc123</Password>
		<Port>25</Port>
		<To xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<UserName>test</UserName>
	</Smtp>
	<ShowSitemap>true</ShowSitemap>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>CommerceInstance</d2p1:Key>
			<d2p1:Value>Vitaminstore</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
	</CustomFields>
	<EnableVersioning>true</EnableVersioning>
	<EnableStyleEdting>false</EnableStyleEdting>
	<ResourceDomain></ResourceDomain>
	<TimeZoneId>China Standard Time</TimeZoneId>
	<Security>
		<EncryptKey>2QDVQG39</EncryptKey>
		<TurnOnSubmissionAPI>false</TurnOnSubmissionAPI>
	</Security>
</Site>