<?xml version="1.0" encoding="utf-8"?>
<ArrayOfUrlRedirect xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<UrlRedirect>
		<LastestEditor>admin</LastestEditor>
		<UUID>8T6AW2FS</UUID>
		<UtcCreationDate i:nil="true" />
		<UtcLastestModificationDate>2014-05-09T06:20:22.1433184Z</UtcLastestModificationDate>
		<InputUrl>/?images/product/(.+)</InputUrl>
		<OutputUrl>/Cms_Data/Sites/Vitaminstore/images/product/$1</OutputUrl>
		<Regex>true</Regex>
		<RedirectType>Moved_Permanently_301</RedirectType>
	</UrlRedirect>
	<UrlRedirect>
		<LastestEditor>admin</LastestEditor>
		<UUID>CPM3CL6M</UUID>
		<UtcCreationDate i:nil="true" />
		<UtcLastestModificationDate>2014-05-09T06:20:28.2874453Z</UtcLastestModificationDate>
		<InputUrl>/?images/brand/(.+)</InputUrl>
		<OutputUrl>/Cms_Data/Sites/Vitaminstore/images/brand/$1</OutputUrl>
		<Regex>true</Regex>
		<RedirectType>Moved_Permanently_301</RedirectType>
	</UrlRedirect>
</ArrayOfUrlRedirect>