@model ShippingMethodEditorModel
@{
    Layout = "~/Views/Shared/Blank.cshtml";
    ViewBag.Title = "New shipping method".Localize();
}

@section Panel {
    @Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.AddSaveAndNextButton();
        buttons.AddCancelButton();
    })
}

<div class="block">
    @Html.EditorForModel()
</div>