@model PagedList<ShippingMethodRowModel>
@{
    ViewBag.Title = "Shipping methods".Localize();
}

@section Panel {
    @(Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.AddCreateButton("BasicInfo");
        buttons.AddEnableButton();
        buttons.AddDisableButton();
        buttons.AddAjaxPostButton("Settings", "setting", "Settings", new { @return = Request.RawUrl }).VisibleWhen(GridChecked.Single);
        buttons.AddDeleteButton();
    }))
}

@Html.GridFor2(typeof(ShippingMethodRowModel), Model)

<div class="pagination right">
    @Html.Pager(Model, "", ViewContext.RequestContext.AllRouteValues(), null)
</div>