 <div class="facetsContainer" style="padding-bottom: 10px;">
        
<ul class="search-facets">
    <li class="title">Verfijn de resultaten</li>
    
    
    
        <li class="sub-title">Prijs</li>
        <li class="price-range">
            <div id="price-slider" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Price Filter']);" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header" style="left: 0%; width: 100%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
            <div class="price-values">
                <span class="price-from" data-init-value="2.39">€ 2,39</span><span class="price-to" data-init-value="644.22">€ 644,22</span>
            </div>
        </li>
    
    
            <li class="sub-title">Merk</li>
            <li>
                <ul>
        
            <li class="">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=DELTAS" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Deltas (590)</a>
                
            </li>
        
            <li class="">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=ANKH+HERMES" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Ankh Hermes (398)</a>
                
            </li>
        
            <li class="">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=VELTMAN" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Veltman (357)</a>
                
            </li>
        
            <li class="">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Solgar+Vitamins" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Solgar Vitamins (271)</a>
                
            </li>
        
            <li class="">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=AOV+Voedingssupplementen" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Aov Voedingssupplementen (164)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Orthica" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Orthica (131)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Mattisson+Healthstyle" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Mattisson Healthstyle (128)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Vitals" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Vitals (119)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Lamberts" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Lamberts (103)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Now" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Now (88)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Golden+Nutrition" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Golden Nutrition (80)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Bloem+Natuurproducten" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Bloem Natuurproducten (79)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Ortholon" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Ortholon (78)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Viridian" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Viridian (77)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=MediSana" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Medisana (75)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=PROVIFORM" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Proviform (75)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=testjezelf.nu" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Testjezelf.Nu (71)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Vitaminhealth" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Vitaminhealth (69)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Bonusan" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Bonusan (65)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Biotics" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Biotics (61)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=RESOURCE" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Resource (60)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=VITAL+CELL+LIFE" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Vital Cell Life (58)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Metagenics" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Metagenics (54)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=ALIVE" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Alive (53)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=BEST+CHOICE" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Best Choice (52)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Lucovitaal" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Lucovitaal (52)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Davitamon" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Davitamon (48)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Optimax" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Optimax (45)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=UNICARE" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Unicare (45)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=NEW+CARE" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    New Care (43)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=NUTRI+WEST" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Nutri West (43)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=ORTHOVITAAL" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Orthovitaal (43)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=A.Vogel" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    A.Vogel (40)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=GOLDEN+NATURALS" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Golden Naturals (40)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=SANOPHARM" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Sanopharm (40)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=VITAMIST" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Vitamist (39)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Source+Naturals" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Source Naturals (38)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=TOPPHARM" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Toppharm (38)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=NUTRAMIN" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Nutramin (37)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=NUTRIDRINK" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Nutridrink (37)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Durex" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Durex (36)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Nova+Vitae" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Nova Vitae (36)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=YOURS+HEALTHCARE" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Yours Healthcare (36)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Pharma+Nord" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Pharma Nord (35)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=ALL+FOR+YOU" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    All For You (33)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Dagravit" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Dagravit (32)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Acties" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Acties (31)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=BUURMANNS" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Buurmanns (31)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=PILEJE" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Pileje (31)</a>
                
            </li>
        
            <li class="hide-item">
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?brandName=Weleda" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Brand Filter']);">
                    Weleda (31)</a>
                
            </li>
        
            
            <li class="show-all bottom-link"><a href="#">Toon alle merken...</a></li>
            
            <li class="hide-more bottom-link"><a href="#">Minder...</a></li>
            
            </ul>
    </li>
        
    
    
            <li class="sub-title">Reviews</li>
            <li>
                <ul class="facet-reviews">
        
            <li>
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?star=5" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Review Filter']);">
                    <span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span> (406)
                </a>
                
            </li>
        
            <li>
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?star=4" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Review Filter']);">
                    <span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span> (472)
                </a>
                
            </li>
        
            <li>
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?star=3" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Review Filter']);">
                    <span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span> (82)
                </a>
                
            </li>
        
            <li>
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?star=2" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Review Filter']);">
                    <span class="icon-star"></span><span class="icon-star"></span> (17)
                </a>
                
            </li>
        
            <li>
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?star=1" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Review Filter']);">
                    <span class="icon-star"></span> (8)
                </a>
                
            </li>
        
            <li>
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?star=0" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Review Filter']);">
                    Geen reviews (6053)
                </a>
                
            </li>
        
            </ul>
    </li>
        
    
            <li class="sub-title">Levertijd</li>
            <li>
                <ul>
        
            <li>
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?delivery=0" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Delivery Filter']);">
                    Vandaag besteld morgen in huis (638)</a>
                
                
            </li>
        
            <li>
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?delivery=1" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Delivery Filter']);">
                    1-2 werkdagen (6202)</a>
                
                
            </li>
        
            <li>
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?delivery=2" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Delivery Filter']);">
                    3-5 werkdagen (187)</a>
                
                
            </li>
        
            <li>
                
                <a class="facet" href="http://newshoppage.vitaminstore.eu/health/?delivery=3" onclick="_gaq.push(['_trackEvent', 'Search Filters', 'Delivery Filter']);">
                    Niet leverbaar (11)</a>
                
                
            </li>
        
            </ul>
    </li>
        
</ul>

    </div>