<div class="hide">
    <div id="query-config-dialog">
        <div class="topbar">
            <h1 class="title">@("Query Configuration".Localize())</h1>
        </div>
        <div class="wrap">
            <div class="query-config-form"></div>
        </div>
        <div class="buttons">
            <a href="#" class="button gray right btn-cancel-query-config">@("Cancel".Localize())</a>
            <a href="#" class="button right btn-submit-query-config">@("Save".Localize())</a>
        </div>
    </div>
</div>

<script>

    (function ($) {

        window.QueryConfigDialog = function () {
            var self = this;
            var $dialog = null;
            var $form = null;
            var queryName = null;

            self.onSubmitted = null;

            self.init = function () {
                if ($dialog !== null) {
                    return;
                }

                $dialog = $('#query-config-dialog').dialog({
                    modal: true,
                    autoOpen: false
                });

                $dialog.find('.btn-cancel-query-config').click(function () {
                    self.close();
                    return false;
                });
                $dialog.find('.btn-submit-query-config').click(function () {
                    self.sumbit();
                    return false;
                });
            }

            self.open = function (options) {
                queryName = options.queryName;

                if (options.onSubmitted) {
                    self.onSubmitted = options.onSubmitted;
                }

                self.init();

                $.get('/Commerce/Query/Config', { queryName: queryName })
                 .done(function (html) {
                     $dialog.find('.query-config-form').html(html);
                     $form = $dialog.find('form');
                     $.validator.unobtrusive.reparse($form);
                     $dialog.dialog('open');
                 });
            }

            self.close = function () {
                $dialog.dialog('close');
                self.onSubmitted = null;
            }

            self.validate = function () {
                return $form.valid();
            }

            self.sumbit = function () {
                if (!self.validate()) {
                    return;
                }

                return $.ajax({
                    url: '/Commerce/Query/Config?queryName=' + queryName,
                    type: 'POST',
                    data: $form.serializeArray()
                })
                .done(function () {
                    info.show('@("Query configuration successfully saved.".Localize())', true);

                    if (self.onSubmitted) {
                        self.onSubmitted.apply(self, []);
                    }

                    self.close();
                })
                .fail(function (xhr) {
                    var error = JSON.parse(xhr.responseText);
                    info.show(error.message, false);
                });
            }
        };

        var instance = new window.QueryConfigDialog();

        window.QueryConfigDialog.instance = function () {
            return instance;
        };

    })(jQuery);

</script>
