@using Kooboo.Commerce.API.CmsSite;
@{
    var brands = ViewBag.Brands as IEnumerable<Kooboo.Commerce.API.Brands.Brand>;
    var featuredProduct = ViewBag.FeaturedProduct as Kooboo.Commerce.API.Products.Product;
}

<div style="font-size:16px;padding:10px;background:#eee;">
    <strong>Brands loaded from DataSource:</strong><br />
    <div style="padding-top:10px;line-height:1.7em;">
        @if (brands != null)
        {
            foreach (var brand in brands)
            {
                <span>
                    @brand.Name,
                </span>
            }
        }
    </div>
    <br />
    <br />
    <strong>Featured Product</strong>
    <div style="padding-top:10px;line-height:1.7em">
        @if (featuredProduct == null)
        {
            <span>Empty</span>
        }
        else
        {
            @featuredProduct.Name<br />
            <span>Brand:</span> @Html.Raw(featuredProduct.Brand == null ? "<span style='color:red'>Not loaded</span>" : featuredProduct.Brand.Name)
        }
    </div>
</div>


<div class="homebanner1 orbit" style="overflow: hidden; width: 630px; height: 200px;">
    <a href="http://newshoppage.vitaminstore.eu/Health/Vitaminen-en-mineralen/mineralen/Magnesium-Tauraat-voor-de-zorg-van-spieren-VitaminSports-ontspanning/P118" style="z-index: 3; display: block;"><img src="/Cms_Data/Sites/Vitaminstore/flash/images/45Magnesium-Tauraat.jpg" alt="" border="0"></a>
</div>