@using Kooboo.Commerce.Customers;
@{
    ViewBag.Title = "Customers".Localize();
}

@section Panel {
    @(Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.AddCreateButton();
        buttons.AddDeleteButton();
    }))
}

@section Topbar {
    <h1 class="title">@ViewBag.Title</h1>
    <div class="search-panel">
        @Html.Partial("_Search")
    </div>
}

@Html.Partial("_QueryGrid")

