@model CountryEditorModel
@{
    ViewBag.Title = "New Country".Localize();
}

@section Panel{
    @Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.AddSaveButton();
        buttons.AddCancelButton();
    })
}

<div class="block common-form">
    @Html.EditorForModel()
</div>