@{
	var bestSellers = ViewBag.BestSellers;
}

@bestSellers.Count

<div class="leftBox">
                            
<script type="text/javascript">
    $(document).ready(function () {
        $("ul.Top5 > li:last").css({ background: "none" });
    });
</script>
<div class="column_header">
    Best verkocht!</div>
<ul class="Top5">
    
            <li id="top5_1">
                <div class="top5_counter">
                    <span class="icons icon1"></span>
                </div>
                <div class="top5_item">
                    <a id="ctl00_Top51_rptTop5_ctl00_hlProduct" title="Energy Hit" href="/sports/prestatie/energie/Energy-Hit-voor-extra-energie-de-tuinen-mega-sports-Mega-Sports-Nutrition-energie/P1587">Energy Hit</a>
                    <div class="top5_price">
                        <span class="Price_from">€ 39,90</span>&nbsp;
                        <b>
                            € 19,95</b>
                    </div>
                </div>
                <div class="top5_image">
                    <a id="ctl00_Top51_rptTop5_ctl00_HyperLink1" href="/sports/prestatie/energie/Energy-Hit-voor-extra-energie-de-tuinen-mega-sports-Mega-Sports-Nutrition-energie/P1587"><img src="/product_pictures/1587s_Energy-Hit.jpg" alt="Energy Hit" title="Energy Hit"></a>
                    <img id="ctl00_Top51_rptTop5_ctl00_imgBalloon" class="top5_balloon" src="/Cms_Data/Sites/Vitaminstore/images/balloon_1+1.bmp" alt="" style="border-width:0px;">
                </div>
            </li>
        
            <li id="top5_2">
                <div class="top5_counter">
                    <span class="icons icon2"></span>
                </div>
                <div class="top5_item">
                    <a id="ctl00_Top51_rptTop5_ctl01_hlProduct" title="100% Whey Protein Isolate" href="/sports/spieren/herstel/100-whey-protein-isolate/P217835">100% Whey Protein Isolate</a>
                    <div class="top5_price">
                        <span class="Price_from">€ 34,95</span>&nbsp;
                        <b>
                            € 24,95</b>
                    </div>
                </div>
                <div class="top5_image">
                    <a id="ctl00_Top51_rptTop5_ctl01_HyperLink1" href="/sports/spieren/herstel/100-whey-protein-isolate/P217835"><img src="/product_pictures/small.gif" alt="100% Whey Protein Isolate" title="100% Whey Protein Isolate"></a>
                    
                </div>
            </li>
        
            <li id="top5_3">
                <div class="top5_counter">
                    <span class="icons icon3"></span>
                </div>
                <div class="top5_item">
                    <a id="ctl00_Top51_rptTop5_ctl02_hlProduct" title="Doctor Clean Fruitvliegjes Vanger" href="/Health/Algemeen/Dr-Clean-Fruitvliegjes-Vanger/P223212">Doctor Clean</a>
                    <div class="top5_price">
                        <span class="Price_from">€ 7,95</span>&nbsp;
                        <b>
                            € 6,95</b>
                    </div>
                </div>
                <div class="top5_image">
                    <a id="ctl00_Top51_rptTop5_ctl02_HyperLink1" href="/Health/Algemeen/Dr-Clean-Fruitvliegjes-Vanger/P223212"><img src="/product_pictures/small.gif" alt="Doctor Clean Fruitvliegjes Vanger" title="Doctor Clean Fruitvliegjes Vanger"></a>
                    <img id="ctl00_Top51_rptTop5_ctl02_imgBalloon" class="top5_balloon" src="/Cms_Data/Sites/Vitaminstore/images/balloon_Aanbieding.gif" alt="" style="border-width:0px;">
                </div>
            </li>
        
            <li id="top5_4">
                <div class="top5_counter">
                    <span class="icons icon4"></span>
                </div>
                <div class="top5_item">
                    <a id="ctl00_Top51_rptTop5_ctl03_hlProduct" title="EYE Q visolie" href="/Health/Vitaminen-en-mineralen/Multivitaminen/kind/EYE-Q-visolie-Springfield-Nutraceuticals-concentratie-omega-3-omega-6/P1536">EYE Q visolie</a>
                    <div class="top5_price">
                        
                        <b>
                            € 11,95</b>
                    </div>
                </div>
                <div class="top5_image">
                    <a id="ctl00_Top51_rptTop5_ctl03_HyperLink1" href="/Health/Vitaminen-en-mineralen/Multivitaminen/kind/EYE-Q-visolie-Springfield-Nutraceuticals-concentratie-omega-3-omega-6/P1536"><img src="/product_pictures/1536s_EYE-Q-visolie.jpg" alt="EYE Q visolie" title="EYE Q visolie"></a>
                    
                </div>
            </li>
        
            <li id="top5_5" style="background-image: none; background-position: initial initial; background-repeat: initial initial;">
                <div class="top5_counter">
                    <span class="icons icon5"></span>
                </div>
                <div class="top5_item">
                    <a id="ctl00_Top51_rptTop5_ctl04_hlProduct" title="Aqua-licious" href="/vitaminen/234889/Aqua-licious-hervulbare-waterfles/">Aqua-licious</a>
                    <div class="top5_price">
                        
                        <b>
                            € 9,90</b>
                    </div>
                </div>
                <div class="top5_image">
                    <a id="ctl00_Top51_rptTop5_ctl04_HyperLink1" href="/vitaminen/234889/Aqua-licious-hervulbare-waterfles/"><img src="/product_pictures/small.gif" alt="Aqua-licious" title="Aqua-licious"></a>
                    <img id="ctl00_Top51_rptTop5_ctl04_imgBalloon" class="top5_balloon" src="/Cms_Data/Sites/Vitaminstore/images/balloon_nieuw.bmp" alt="" style="border-width:0px;">
                </div>
            </li>
        
</ul>
<div>
    <img src="/Cms_Data/Sites/Vitaminstore/images/bottom.jpg" alt=""></div>


                        </div>