@{
    Layout = "~/Views/Shared/Popup.cshtml";
}

<div class="topbar">
    <h1 class="title">@ViewBag.Title</h1>
</div>
<div class="warp">
    <div class="block">
        <div class="step-content clearfix">
            @RenderBody()
        </div>
    </div>
</div>

<script>
    window.ajaxFormParam = {
        success: function (result) {
            if (result.Success) {
                var context = window.parent.ViewModel.activityContext();
                context.accept();
            } else {
                window.info.show(result.Errors.join('<br/>'), false);
            }
        }
    }
</script>