@{
    Layout = "~/Views/Shared/Popup.cshtml";
}

<div class="block">
    <h1 class="title">@ViewBag.Title</h1>
    <div class="step-content clearfix">
        @RenderBody()
    </div>
</div>

<script>
    window.ajaxFormParam = {
        success: function (result) {
            if (result.Success) {
                $.popContext.getCurrent().close();
            }
        }
    }
</script>