<?xml version="1.0" encoding="utf-8"?>
<DataSourceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource">
	<DataSource xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.Search.CMSIntegration" i:type="d2p1:ProductSearchDataSource">
		<d2p1:Facets xmlns:d3p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.Search.Facets" />
		<d2p1:Filters>
			<d2p1:Filter>
				<d2p1:AnalyzeInput>true</d2p1:AnalyzeInput>
				<d2p1:FieldValue>{keywords}</d2p1:FieldValue>
				<d2p1:Fields>Name,SearchText</d2p1:Fields>
				<d2p1:FromInclusive>false</d2p1:FromInclusive>
				<d2p1:FromValue i:nil="true" />
				<d2p1:Name>Keywords</d2p1:Name>
				<d2p1:ToInclusive>false</d2p1:ToInclusive>
				<d2p1:ToValue i:nil="true" />
				<d2p1:UseRangeFiltering>false</d2p1:UseRangeFiltering>
			</d2p1:Filter>
		</d2p1:Filters>
		<d2p1:IncludeFacets>false</d2p1:IncludeFacets>
		<d2p1:PageNumber>{page}</d2p1:PageNumber>
		<d2p1:PageSize>{pageSize}</d2p1:PageSize>
		<d2p1:SortField></d2p1:SortField>
	</DataSource>
	<LastestEditor>admin</LastestEditor>
	<Relations i:nil="true" />
	<UtcCreationDate>2014-09-28T10:54:57.6919752Z</UtcCreationDate>
	<UtcLastestModificationDate>2014-09-28T10:54:57.6919752Z</UtcLastestModificationDate>
</DataSourceSetting>