<?xml version="1.0" encoding="utf-8"?>
<DataSourceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource">
	<DataSource xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources.Impl" i:type="d2p1:CategoryDataSource">
		<Settings xmlns="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources.Generic">
			<EnablePaging>false</EnablePaging>
			<Filters />
			<Includes xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
				<d4p1:string>Subtrees</d4p1:string>
			</Includes>
			<PageNumber i:nil="true" />
			<PageSize i:nil="true" />
			<SortDirection>Asc</SortDirection>
			<SortField>Id</SortField>
			<TakeOperation>List</TakeOperation>
			<Top></Top>
		</Settings>
	</DataSource>
	<LastestEditor>admin</LastestEditor>
	<Relations i:nil="true" />
	<UtcCreationDate>2014-09-28T08:56:49.4990792Z</UtcCreationDate>
	<UtcLastestModificationDate>2014-09-28T08:56:49.4990792Z</UtcLastestModificationDate>
</DataSourceSetting>