<?xml version="1.0" encoding="utf-8"?>
<DataSourceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource">
	<DataSource xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources" i:type="d2p1:CommerceDataSourceAdapter">
		<d2p1:CommerceDataSource xmlns:d3p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources.Impl" i:type="d3p1:CountryDataSource">
			<Settings xmlns="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources.Generic">
				<EnablePaging>false</EnablePaging>
				<Filters />
				<Includes xmlns:d5p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
				<PageNumber i:nil="true" />
				<PageSize i:nil="true" />
				<SortDirection>Asc</SortDirection>
				<SortField>Name</SortField>
				<TakeOperation>List</TakeOperation>
				<Top></Top>
			</Settings>
		</d2p1:CommerceDataSource>
		<d2p1:CommerceDataSourceType>Kooboo.Commerce.CMSIntegration.DataSources.Impl.CountryDataSource, Kooboo.Commerce.CMSIntegration.DataSources</d2p1:CommerceDataSourceType>
	</DataSource>
	<LastestEditor>admin</LastestEditor>
	<Relations i:nil="true" />
	<UtcCreationDate>2014-08-31T14:34:13.7593616Z</UtcCreationDate>
	<UtcLastestModificationDate>2014-08-31T14:34:13.7603798Z</UtcLastestModificationDate>
</DataSourceSetting>