<?xml version="1.0" encoding="utf-8"?>
<DataSourceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource">
	<DataSource xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources.Impl" i:type="d2p1:CategoryBreadcrumbDataSource">
		<Settings xmlns="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources.Generic">
			<EnablePaging>false</EnablePaging>
			<Filters>
				<SavedFilter>
					<Name>ByCurrentProduct</Name>
					<ParameterValues>
						<SavedFilterParameterValue>
							<ParameterName>CurrentProductId</ParameterName>
							<ParameterValue>{productId}</ParameterValue>
						</SavedFilterParameterValue>
					</ParameterValues>
					<Required>true</Required>
				</SavedFilter>
			</Filters>
			<Includes xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
			<PageNumber i:nil="true" />
			<PageSize i:nil="true" />
			<SortDirection>Asc</SortDirection>
			<SortField i:nil="true" />
			<TakeOperation i:nil="true" />
			<Top></Top>
		</Settings>
	</DataSource>
	<LastestEditor>admin</LastestEditor>
	<Relations i:nil="true" />
	<UtcCreationDate>2014-09-28T09:32:20.9729147Z</UtcCreationDate>
	<UtcLastestModificationDate>2014-09-28T09:32:20.9729147Z</UtcLastestModificationDate>
</DataSourceSetting>