<?xml version="1.0" encoding="utf-8"?>
<DataSourceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataSource">
	<DataSource xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.CMSIntegration.DataSources" i:type="d2p1:CommerceDataSourceAdapter">
		<d2p1:CommerceDataSource xmlns:d3p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.Search.CMSIntegration" i:type="d3p1:ProductSearchDataSource">
			<d3p1:Facets xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.Search.Facets">
				<d4p1:Facet>
					<d4p1:Field>Brand</d4p1:Field>
					<d4p1:Name>Brand</d4p1:Name>
					<d4p1:Ranges i:nil="true" />
				</d4p1:Facet>
				<d4p1:Facet>
					<d4p1:Field>VariantFieldValues[CPU]</d4p1:Field>
					<d4p1:Name>CPU</d4p1:Name>
					<d4p1:Ranges i:nil="true" />
				</d4p1:Facet>
				<d4p1:Facet>
					<d4p1:Field>VariantFieldValues[RAM]</d4p1:Field>
					<d4p1:Name>RAM</d4p1:Name>
					<d4p1:Ranges i:nil="true" />
				</d4p1:Facet>
				<d4p1:Facet>
					<d4p1:Field>Categories</d4p1:Field>
					<d4p1:Name>Category</d4p1:Name>
					<d4p1:Ranges i:nil="true" />
				</d4p1:Facet>
			</d3p1:Facets>
			<d3p1:Filters>
				<d3p1:Filter>
					<d3p1:AnalyzeInput>true</d3p1:AnalyzeInput>
					<d3p1:FieldValue>{keywords}</d3p1:FieldValue>
					<d3p1:Fields>Name,SearchText</d3p1:Fields>
					<d3p1:FromInclusive>false</d3p1:FromInclusive>
					<d3p1:FromValue></d3p1:FromValue>
					<d3p1:Name>Keywords</d3p1:Name>
					<d3p1:ToInclusive>false</d3p1:ToInclusive>
					<d3p1:ToValue></d3p1:ToValue>
					<d3p1:UseRangeFiltering>false</d3p1:UseRangeFiltering>
				</d3p1:Filter>
			</d3p1:Filters>
			<d3p1:IncludeFacets>true</d3p1:IncludeFacets>
			<d3p1:PageNumber>{page}</d3p1:PageNumber>
			<d3p1:PageSize>{pageSize}</d3p1:PageSize>
			<d3p1:SortField></d3p1:SortField>
		</d2p1:CommerceDataSource>
		<d2p1:CommerceDataSourceType>Kooboo.Commerce.Search.CMSIntegration.ProductSearchDataSource, Kooboo.Commerce.Search</d2p1:CommerceDataSourceType>
	</DataSource>
	<LastestEditor>admin</LastestEditor>
	<Relations i:nil="true" />
	<UtcCreationDate>2014-08-31T16:56:33.707548Z</UtcCreationDate>
	<UtcLastestModificationDate>2014-09-26T08:16:18.5559971Z</UtcLastestModificationDate>
</DataSourceSetting>