@model ActivityEditorModel
@{
    Layout = "~/Areas/Commerce/Views/Shared/Popup.cshtml";
    ViewBag.Title = "Attach Activity".Localize();
}

<div class="topbar">
    <h1 class="title">@ViewBag.Title</h1>
</div>

@Html.Partial("_Editor")
