<ArrayOfMembershipUser xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Membership.Models">
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment></Comment>
		<Culture>en-GB</Culture>
		<Email>admin@admin.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>j5fK+/9vibvGsz2EENrzoEHeIQg=</Password>
		<PasswordAnswer></PasswordAnswer>
		<PasswordQuestion></PasswordQuestion>
		<PasswordSalt>2YqyEGK9XUeMOJYsIXnHag==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId>China Standard Time</TimeZoneId>
		<UserName>admin</UserName>
		<UtcCreationDate>2014-03-06T03:14:03.2638467Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate i:nil="true" />
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment></Comment>
		<Culture>zh-CN</Culture>
		<Email>test@test.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>4K8CLLPZ/mNA+pI7ATYZsg3JBso=</Password>
		<PasswordAnswer></PasswordAnswer>
		<PasswordQuestion></PasswordQuestion>
		<PasswordSalt>WgiYZkeSjXCA/QUmVFoo5Q==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId>China Standard Time</TimeZoneId>
		<UserName>test</UserName>
		<UtcCreationDate>2014-03-06T03:14:20.4866902Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate i:nil="true" />
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
</ArrayOfMembershipUser>