<ArrayOfMembershipUser xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Membership.Models">
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment></Comment>
		<Culture>en-GB</Culture>
		<Email>admin@admin.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>j5fK+/9vibvGsz2EENrzoEHeIQg=</Password>
		<PasswordAnswer></PasswordAnswer>
		<PasswordQuestion></PasswordQuestion>
		<PasswordSalt>2YqyEGK9XUeMOJYsIXnHag==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId>China Standard Time</TimeZoneId>
		<UserName>admin</UserName>
		<UtcCreationDate>2014-03-06T03:14:03.2638467Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate i:nil="true" />
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment></Comment>
		<Culture>zh-CN</Culture>
		<Email>test@test.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>4K8CLLPZ/mNA+pI7ATYZsg3JBso=</Password>
		<PasswordAnswer></PasswordAnswer>
		<PasswordQuestion></PasswordQuestion>
		<PasswordSalt>WgiYZkeSjXCA/QUmVFoo5Q==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId>China Standard Time</TimeZoneId>
		<UserName>test</UserName>
		<UtcCreationDate>2014-03-06T03:14:20.4866902Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate>2014-03-24T01:01:56.518861Z</UtcLastLoginDate>
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment i:nil="true" />
		<Culture>zh-CN</Culture>
		<Email>mouhong@kooboo.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>eJ7gJWfMyt4y9aI+xkCdIGgAgcI=</Password>
		<PasswordAnswer></PasswordAnswer>
		<PasswordQuestion></PasswordQuestion>
		<PasswordSalt>HeL3DBq4S0SRWU4axQ3SKw==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
			<d3p1:KeyValueOfstringstring>
				<d3p1:Key>FirstName</d3p1:Key>
				<d3p1:Value>Mouhong</d3p1:Value>
			</d3p1:KeyValueOfstringstring>
			<d3p1:KeyValueOfstringstring>
				<d3p1:Key>LastName</d3p1:Key>
				<d3p1:Value>Lin</d3p1:Value>
			</d3p1:KeyValueOfstringstring>
			<d3p1:KeyValueOfstringstring>
				<d3p1:Key>Age</d3p1:Key>
				<d3p1:Value>28</d3p1:Value>
			</d3p1:KeyValueOfstringstring>
		</Profiles>
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId>China Standard Time</TimeZoneId>
		<UserName>mouhong</UserName>
		<UtcCreationDate>2014-03-20T07:59:00.5833022Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate>2014-03-31T09:40:52.6403833Z</UtcLastLoginDate>
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment i:nil="true" />
		<Culture>en-US</Culture>
		<Email>dylan.lin@kooboo.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>FAzT7kevmxlMKfGUzEpJx+VhNOU=</Password>
		<PasswordAnswer i:nil="true" />
		<PasswordQuestion i:nil="true" />
		<PasswordSalt>tJg8w4TZQ0aL1PjjmkM+xg==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId i:nil="true" />
		<UserName>dylan.lin@kooboo.com</UserName>
		<UtcCreationDate>2014-05-09T08:06:38.5602698Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate i:nil="true" />
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment i:nil="true" />
		<Culture>en-US</Culture>
		<Email>linmou@kooboo.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>EYTCuKRW08iA2RnyxMObOPyIK4A=</Password>
		<PasswordAnswer i:nil="true" />
		<PasswordQuestion i:nil="true" />
		<PasswordSalt>PRAeTwthNc8HVSliEaDGwQ==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId i:nil="true" />
		<UserName>linmou@kooboo.com</UserName>
		<UtcCreationDate>2014-05-09T08:10:36.5907228Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate i:nil="true" />
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment i:nil="true" />
		<Culture>en-US</Culture>
		<Email>shui@kooboo.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>FGk272U5EqhgxtdLUCnmDZQPwZs=</Password>
		<PasswordAnswer i:nil="true" />
		<PasswordQuestion i:nil="true" />
		<PasswordSalt>ctZxFu5ScL9XHs+wWHamxg==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId i:nil="true" />
		<UserName>shui@kooboo.com</UserName>
		<UtcCreationDate>2014-05-09T08:12:27.8269725Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate i:nil="true" />
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment i:nil="true" />
		<Culture>en-US</Culture>
		<Email>lin@g.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>3s7RUzTIwKCdCt4ujepmVts4q8A=</Password>
		<PasswordAnswer i:nil="true" />
		<PasswordQuestion i:nil="true" />
		<PasswordSalt>X3NqHR3OBs0kP4B5OhwqAA==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId i:nil="true" />
		<UserName>lin@g.com</UserName>
		<UtcCreationDate>2014-05-09T08:20:11.1422025Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate i:nil="true" />
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment i:nil="true" />
		<Culture>en-US</Culture>
		<Email>lin2@g.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>LTNhDQp+LBnODEI0csA0ADBN+70=</Password>
		<PasswordAnswer i:nil="true" />
		<PasswordQuestion i:nil="true" />
		<PasswordSalt>YqSPRUiQep8s5nmB0FUwvw==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId i:nil="true" />
		<UserName>lin2@g.com</UserName>
		<UtcCreationDate>2014-05-09T08:25:11.4763773Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate i:nil="true" />
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment i:nil="true" />
		<Culture>en-US</Culture>
		<Email>lin3@qq.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>KAUSTmHkT8m4lSB8jk7qqsB0iTY=</Password>
		<PasswordAnswer i:nil="true" />
		<PasswordQuestion i:nil="true" />
		<PasswordSalt>jRWYCtcIrMpDz2pLpuMMaQ==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId i:nil="true" />
		<UserName>lin3@qq.com</UserName>
		<UtcCreationDate>2014-05-09T10:01:22.7508401Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate i:nil="true" />
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment i:nil="true" />
		<Culture>en-US</Culture>
		<Email>mou@qq.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>BU7rgakGyw7gdA1IJRA9z0Gc04g=</Password>
		<PasswordAnswer i:nil="true" />
		<PasswordQuestion i:nil="true" />
		<PasswordSalt>SC+5mjYIhOM3k9zY6s+XqQ==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId i:nil="true" />
		<UserName>mou@qq.com</UserName>
		<UtcCreationDate>2014-05-09T10:17:36.9675573Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate>2014-05-11T10:22:23.6550786Z</UtcLastLoginDate>
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
</ArrayOfMembershipUser>