<ArrayOfMembershipUser xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Membership.Models">
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment></Comment>
		<Culture>en-GB</Culture>
		<Email>admin@admin.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>j5fK+/9vibvGsz2EENrzoEHeIQg=</Password>
		<PasswordAnswer></PasswordAnswer>
		<PasswordQuestion></PasswordQuestion>
		<PasswordSalt>2YqyEGK9XUeMOJYsIXnHag==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId>China Standard Time</TimeZoneId>
		<UserName>admin</UserName>
		<UtcCreationDate>2014-03-06T03:14:03.2638467Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate i:nil="true" />
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment i:nil="true" />
		<Culture>en-US</Culture>
		<Email>mouhong@kooboo.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>9q4Y/Q5riuY0IWOO94MwMznASXk=</Password>
		<PasswordAnswer i:nil="true" />
		<PasswordQuestion i:nil="true" />
		<PasswordSalt>Y8p1doqEZJk2cl6cpvkVJQ==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId i:nil="true" />
		<UserName>mouhong@kooboo.com</UserName>
		<UtcCreationDate>2014-06-11T07:25:55.7630826Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate i:nil="true" />
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment i:nil="true" />
		<Culture>en-US</Culture>
		<Email>mouhong@gmail.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>YTEUuCLrNvtxmfIIgCWt/0XUHvA=</Password>
		<PasswordAnswer i:nil="true" />
		<PasswordQuestion i:nil="true" />
		<PasswordSalt>r2b45djI71aw/XpJdPcsfA==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId i:nil="true" />
		<UserName>mouhong@gmail.com</UserName>
		<UtcCreationDate>2014-06-11T07:27:52.0628223Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate i:nil="true" />
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment i:nil="true" />
		<Culture>en-US</Culture>
		<Email>mouhong@qq.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>hVUmHtz0ntSyoyDGSLH4k2k5vXM=</Password>
		<PasswordAnswer i:nil="true" />
		<PasswordQuestion i:nil="true" />
		<PasswordSalt>eRydVIkQiYmGYJUOgsPziA==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId i:nil="true" />
		<UserName>mouhong@qq.com</UserName>
		<UtcCreationDate>2014-06-11T07:38:16.2023352Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate>2014-06-11T08:38:51.6634752Z</UtcLastLoginDate>
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
</ArrayOfMembershipUser>