@model Kooboo.Commerce.Shipping.UPS.UPSSettings
@{
    Layout = "~/Areas/Commerce/Views/Shared/AddIns/_ShipmentTrackerSettings.cshtml";
    ViewBag.Title = "UPS settings".Localize();
}

<div class="block">
    @using (Html.BeginForm())
    {
        <div class="common-form">
            <table>
                @Html.EditorFor(m => m.AccessKey)
                @Html.EditorFor(m => m.Username)
                @Html.EditorFor(m => m.Password)
            </table>
        </div>
    }
</div>
