@model StoreEditorModel

@using (Html.BeginForm("Save", "Store", new { @return = ViewContext.RequestContext.GetRequestValue("return")})) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="common-form">
        <table>
            @Html.EditorFor(m => m.Name)
        </table>
    </div> 
}