@model HalRuleEditorModel
@{
    ViewBag.Title = "Resource access rights management".Localize();
}

@section Panel{
    @Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.AddSaveButton();
        buttons.AddBackButton();
    })
}

<div class="block common-form">
    @Html.Partial("_RuleEditor", Model)
</div>