 <div style="float: left; margin-top: 0px;">
        
<div class="tag">
    <div class="tag_top">
    </div>
    <div class="tag_item">
      @Html.FrontHtml().RenderView("tag_text",ViewData)
      @Html.FrontHtml().RenderView("tags_cloud",ViewData)
    </div>
    <div class="tag_bottom">
    </div>
</div>

    </div>