 <div class="newsletter-signup-form">
        <div id="ctl00_cpContent_NewsletterSignup1_pnSignupForm" class="newsletter-signup newsletter-signup-home">
	
            <ul>
                <li class="promo-text">
                    <h3>Meldt u aan voor onze nieuwsbrief</h3>
                    <p>
                        En ontvang éénmalig €2,50 korting op uw volgende bestelling van €25,00 of meer.
                    </p>
                </li>
                <li class="mailbox">
                    <input name="ctl00$cpContent$NewsletterSignup1$txtEmail" type="text" id="ctl00_cpContent_NewsletterSignup1_txtEmail" placeholder="Uw email adres">
                    <span id="ctl00_cpContent_NewsletterSignup1_rfvEmail" style="color:Red;display:none;"></span>
                    <span id="ctl00_cpContent_NewsletterSignup1_revEmail" style="color:Red;display:none;"></span>
                    <p>Wij geven uw gegevens nooit aan anderen en u kunt zich altijd afmelden. <a href="/emailnieuwsbrieven">Lees meer</a></p>
                </li>
                <li class="btn-signup">
                    <input type="submit" name="ctl00$cpContent$NewsletterSignup1$btnSignup" value="AANMELDEN" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cpContent$NewsletterSignup1$btnSignup&quot;, &quot;&quot;, true, &quot;NewsletterSignup&quot;, &quot;&quot;, false, false))" id="ctl00_cpContent_NewsletterSignup1_btnSignup" class="home">
                </li>
            </ul>
        
</div>
        <img src="/Cms_Data/Sites/Vitaminstore/images/newsletter-discount.png" alt="€2,50 KORTING" class="newsletter-star">
    </div>