<?xml version="1.0" encoding="utf-8"?>
<View xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2014-08-03T11:56:39.7529302Z</LastUpdateDate>
	<EngineName>Razor</EngineName>
	<FileExtension>.cshtml</FileExtension>
	<UserName>admin</UserName>
	<DataRules />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Parameters />
	<DataSources>
		<DataSourceSelection>
			<MainDataSourceName>Brands</MainDataSourceName>
			<RelatedDataSources xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		</DataSourceSelection>
		<DataSourceSelection>
			<MainDataSourceName>FeaturedProduct</MainDataSourceName>
			<RelatedDataSources xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		</DataSourceSelection>
		<DataSourceSelection>
			<MainDataSourceName>ProductFacets</MainDataSourceName>
			<RelatedDataSources xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		</DataSourceSelection>
	</DataSources>
	<FormSettings i:nil="true" />
</View>