<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2014-05-04T07:10:21.288612Z</LastUpdateDate>
	<CacheToDisk>false</CacheToDisk>
	<RequireHttps>false</RequireHttps>
	<IsDefault>true</IsDefault>
	<EnableTheming>true</EnableTheming>
	<EnableScript>true</EnableScript>
	<HtmlMeta>
		<Author></Author>
		<Keywords></Keywords>
		<Description></Description>
		<Customs xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<HtmlTitle></HtmlTitle>
		<Canonical></Canonical>
	</HtmlMeta>
	<Route>
		<Identifier></Identifier>
		<RoutePath></RoutePath>
		<Defaults xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ExternalUrl></ExternalUrl>
		<LinkTarget i:nil="true" />
	</Route>
	<Navigation>
		<Show>false</Show>
		<DisplayText></DisplayText>
		<Order>1</Order>
		<ShowInCrumb>true</ShowInCrumb>
	</Navigation>
	<Permission>
		<AllowGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<AuthorizeMenu>false</AuthorizeMenu>
		<RequireMember>false</RequireMember>
		<UnauthorizedUrl></UnauthorizedUrl>
	</Permission>
	<Layout>main</Layout>
	<PagePositions>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>8RQ2U</PagePositionId>
			<LayoutPositionId>left</LayoutPositionId>
			<Order>0</Order>
			<SkipError>false</SkipError>
			<ViewName>category_nav</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>NR9YC</PagePositionId>
			<LayoutPositionId>left</LayoutPositionId>
			<Order>1</Order>
			<SkipError>false</SkipError>
			<ViewName>thema-winkels</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>Z24CA</PagePositionId>
			<LayoutPositionId>left</LayoutPositionId>
			<Order>2</Order>
			<SkipError>false</SkipError>
			<ViewName>merk-winkels</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>LSSLV</PagePositionId>
			<LayoutPositionId>main</LayoutPositionId>
			<Order>0</Order>
			<SkipError>false</SkipError>
			<ViewName>homebanner1</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>DB4QV</PagePositionId>
			<LayoutPositionId>main</LayoutPositionId>
			<Order>1</Order>
			<SkipError>false</SkipError>
			<ViewName>homebanner2</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>2QWLX</PagePositionId>
			<LayoutPositionId>main</LayoutPositionId>
			<Order>2</Order>
			<SkipError>false</SkipError>
			<ViewName>also-bought</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>KLP23</PagePositionId>
			<LayoutPositionId>main</LayoutPositionId>
			<Order>3</Order>
			<SkipError>false</SkipError>
			<ViewName>newsletter-signup-form</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>SXLGJ</PagePositionId>
			<LayoutPositionId>main</LayoutPositionId>
			<Order>4</Order>
			<SkipError>false</SkipError>
			<ViewName>home-tags</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>FMXWE</PagePositionId>
			<LayoutPositionId>right</LayoutPositionId>
			<Order>0</Order>
			<SkipError>false</SkipError>
			<ViewName>usp</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>ESKC5</PagePositionId>
			<LayoutPositionId>right</LayoutPositionId>
			<Order>1</Order>
			<SkipError>false</SkipError>
			<ViewName>top5</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>HZ6UZ</PagePositionId>
			<LayoutPositionId>right</LayoutPositionId>
			<Order>2</Order>
			<SkipError>false</SkipError>
			<ViewName>need_an_account</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>DWYBY</PagePositionId>
			<LayoutPositionId>right</LayoutPositionId>
			<Order>3</Order>
			<SkipError>false</SkipError>
			<ViewName>twitter</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
	</PagePositions>
	<DataRules />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<PageType>Default</PageType>
	<OutputCache>
		<Duration>0</Duration>
		<EnableCaching>false</EnableCaching>
		<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
	</OutputCache>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>true</Published>
	<UserName>admin</UserName>
	<ContentTitle></ContentTitle>
	<Searchable>false</Searchable>
</Page>