@using Kooboo.Commerce.Orders
@using Kooboo.Commerce.Web.Framework.Actions
@{
    ViewBag.Title = "Orders".Localize();
}

@section Panel {
    @(Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.AddCreateButton();
        buttons.AddDeleteButton();
        buttons.AddEntityActions(Actions.GetActions(typeof(Order)));
    }))
}

@section Topbar {
    <h1 class="title">@ViewBag.Title</h1>
    <div class="search-panel">
        @Html.Partial("_Search")
    </div>
}

@Html.Partial("_QueryGrid")