.grid_left{float:left}
.grid_right{float:right}
.tag{width:630px;padding-top:10px}
.tag_top,.tag_bottom{width:630px;height:4px;background:url('../../images/home_tag_top.gif') no-repeat left bottom}
.tag_bottom{background:url('../../images/home_tag_bottom.gif') no-repeat left top}
.tag_item{width:630px;overflow:hidden;background:url('../../images/home_tag_item.gif') repeat left}
.tag-text,.tag-cloud{width:287px;padding:6px 9px}
.tag-text{font-size:12px}
.tag_item h1,.tag_item h2{font-size:13px}
.tag-text a{text-decoration:underline}
.tag-text p{padding-top:5px}
.tag-cloud p{line-height:24px;text-align:center}
.tag-cloud a{color:#3C3C3C;text-decoration:none;cursor:pointer}
.tag-cloud a.weight1{font-size:20px;font-weight:bolder}
.tag-cloud a.weight2{font-size:18px}
.tag-cloud a.weight3{font-size:14px;font-weight:bolder}
.tag-cloud a.weight4{font-size:11px}
.tag-cloud a.weight5{font-size:9px}
#featured{width:940px;height:450px;background:#000 url('orbit/loading.gif') no-repeat center center;overflow:hidden}
#featured>img,#featured>div,#featured>a{display:none}
div.orbit-wrapper{width:1px;height:1px;position:relative}
div.orbit{width:1px;height:1px;position:relative;overflow:hidden}
div.orbit>img{position:absolute;top:0;left:0;display:none}
div.orbit>a{border:0;position:absolute;top:0;left:0;line-height:0;display:none}
.orbit>div{position:absolute;top:0;left:0;width:100%;height:100%}
.orbit-caption{display:none;font-family:Arial}
.orbit-wrapper .orbit-caption{z-index:1000;position:absolute;left:15px;bottom:7px;width:297px}
.banner-text-top,.banner-text-bottom{width:297px;height:13px;background:url(../../images/banner-text-top.png) no-repeat bottom;line-height:0}
.banner-text-bottom{height:13px;background:url(../../images/banner-text-bottom.png) no-repeat top}
.banner-text{background:#fff;background:url(../../images/banner-text-item.png) repeat left;color:#3c3c3c;padding:0 27px 7px 14px;width:256px;font-size:12px;min-height:145px}
.banner-text h1{font-weight:bold;font-size:15px;line-height:15px;padding-bottom:10px}
div.slider-nav{display:block}
div.slider-nav span{width:45px;height:45px;text-indent:-9999px;position:absolute;z-index:1000;top:50%;margin-top:-20px;cursor:pointer}
div.slider-nav span.right{background:url(orbit/2.png);right:0}
div.slider-nav span.left{background:url(orbit/1.png);left:0}
.orbit-bullets{position:absolute;z-index:1000;list-style:none;bottom:-40px;left:50%;margin-left:-50px;padding:0}
.orbit-bullets li{float:left;margin-left:5px;cursor:pointer;color:#999;text-indent:-9999px;background:url(orbit/bullets.jpg) no-repeat 4px 0;width:13px;height:12px;overflow:hidden}
.orbit-bullets li.active{color:#222;background-position:-8px 0}
.orbit-bullets li.has-thumb{background:0;width:100px;height:75px}
.orbit-bullets li.active.has-thumb{background-position:0 0;border-top:2px solid #000}
.top5_image img {width:35px; height: 35px;}