.new-account {
    width: 440px;
    font-size: 12px;
    padding: 20px 170px 20px 20px;
    background: url("/images/account-bg-spring.jpg") no-repeat;
    position: relative;
}

    .new-account .gray {
        color: #adadad;
    }

    .new-account .orange {
        color: #ff7623;
    }

.new-account-form {
    width: 400px;
    padding: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

    .new-account-form h1 {
        font-size: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #3c3c3c;
    }

    .new-account-form .clubcard-yes {
        padding-right: 70px;
    }

    .new-account-form .clubcard {
        display: none;
    }

    .new-account-form .no-clubcard {
        font-size: 10px;
        font-style: italic;
        line-height: 12px;
        display: none;
    }

    .new-account-form p {
        padding-top: 10px;
    }

    .new-account-form .sub-title td {
        padding-top: 10px;
    }

    .new-account-form .more-space td {
        padding-top: 5px;
    }

    .new-account-form h3 {
        font-size: 13px;
    }

    .new-account-form table {
        width: 100%;
        border-spacing: 1px;
    }

    .new-account-form td.lbl {
        width: 170px;
        line-height: 16px;
    }

    .new-account-form .input {
        width: 210px;
        padding: 2px 0;
    }

    .new-account-form .favorite-category {
        list-style: none;
    }

        .new-account-form .favorite-category li {
            float: left;
            list-style: none;
            border: 1px solid #abadb3;
            width: 69px;
        }

            .new-account-form .favorite-category li a {
                color: #3c3c3c;
                display: block;
                padding: 3px 0;
                text-align: center;
                text-decoration: none;
            }

            .new-account-form .favorite-category li.favorite-cat-sports,
            .new-account-form .favorite-category li.favorite-cat-beauty {
                border-left: none;
            }

    .new-account-form li.favorite-cat-health a.selected {
        background: #8fd300;
        color: #ffffff;
    }

    .new-account-form li.favorite-cat-sports a.selected {
        background: #01b8e0;
        color: #ffffff;
    }

    .new-account-form li.favorite-cat-beauty a.selected {
        background: #f238a7;
        color: #ffffff;
    }

    .new-account-form .submit {
        text-align: center;
        padding-top: 10px;
    }

    .new-account-form .btn-save {
        font-size: 16px;
        font-weight: bold;
        background: #ff7623;
        color: #ffffff;
        display: block;
        padding: 8px 30px;
        border: 1px solid #c0c0c0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
    }

    .new-account-form .terms {
        text-align: center;
        padding-top: 10px;
        font-size: 10px;
    }

        .new-account-form .terms a {
            color: #3c3c3c;
        }

.new-account .clubcard-tip {
    width: 280px;
    padding: 10px;
    border: 1px solid #c0c0c0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    position: absolute;
    top: 120px;
    right: -120px;
    z-index: 999;
    box-shadow: 5px 5px 10px #c0c0c0;
    display: none;
}

    .new-account .clubcard-tip h2 {
        font-size: 30px;
        padding-bottom: 5px;
        border-bottom: 1px solid #3c3c3c;
    }

    .new-account .clubcard-tip h3 {
        font-size: 14px;
        padding-top: 5px;
        border-top: 1px solid #3c3c3c;
    }

    .new-account .clubcard-tip p {
        padding: 10px 0;
    }

        .new-account .clubcard-tip p.already-have-card {
            padding-bottom: 0px;
        }

.new-account .clubcard-question {
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 185px;
    right: 205px;
}

.new-account .clubcard-tip-diamond {
    width: 20px;
    height: 20px;
    font-size: 0;
    background: #ffffff;
    border-left: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
    position: absolute;
    top: 180px;
    right: 170px;
}

.new-account .clubcard-loading {
    width: 230px;
    padding: 10px;
    border: 1px solid #c0c0c0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    position: absolute;
    top: 270px;
    left: 130px;
    z-index: 999;
    box-shadow: 5px 5px 10px #c0c0c0;
    display: none;
}

    .new-account .clubcard-loading h3 {
        font-size: 20px;
    }

    .new-account .clubcard-loading .clubcard-loading-left {
        width: 80px;
        float: left;
    }

    .new-account .clubcard-loading .clubcard-loading-right {
        width: 150px;
        float: right;
    }

input.input-validation-error {
    border: 1px solid red;
}

span.error-msg {
    display: none;
}

span.field-validation-error {
    display: block;
    color: red;
}
