.btn-addcart-3d {
    position: relative;
    display: block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-perspective: 10000;
    -moz-perspective: 10000;
    perspective: 10000;
}

    .btn-addcart-3d:after {
        left: 0;
        top: -100%;
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: 31px;
        background: #7aca7c;
        color: #358337;
        content: 'Toegevoegd!';
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-transform-origin: 0% 100%;
        -webkit-transform: rotateX(90deg);
        -moz-transform-origin: 0% 100%;
        -moz-transform: rotateX(90deg);
        -ms-transform-origin: 0% 100%;
        -ms-transform: rotateX(90deg);
        transform-origin: 0% 100%;
        transform: rotateX(90deg);
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .btn-addcart-3d.btn-success3d {
        background: #aaa;
        -webkit-transform-origin: 50% 100%;
        -webkit-transform: rotateX(-90deg) translateY(100%);
        -moz-transform-origin: 50% 100%;
        -moz-transform: rotateX(-90deg) translateY(100%);
        -ms-transform-origin: 50% 100%;
        -ms-transform: rotateX(-90deg) translateY(100%);
        transform-origin: 50% 100%;
        transform: rotateX(-90deg) translateY(100%);
    }