 .KeywordInformation{font-size:12px;width:630px;overflow:hidden;padding-bottom:10px}
.KeywordInformation h1{font-size:16px}
.KeywordInformation h2{font-size:13px;padding-top:18px}
.KeywordInformation p{padding-top:18px}
.KeywordInformation p.subSection{padding:0}
.KeywordInformation div.top,.KeywordInformation div.bottom{width:630px;height:4px;background:url(../../images/long-top.gif) no-repeat bottom;line-height:0}
.KeywordInformation div.item{width:608px;padding:7px 10px;border-left:solid 1px #D6D6D6;border-right:solid 1px #D6D6D6;overflow:hidden}
.KeywordInformation div.bottom{background:url(../../images/long-bottom.gif) no-repeat top}
.KeywordInformation div.left{float:left;width:400px}
.KeywordInformation div.right{float:right;width:200px;overflow:hidden}
.KeywordInformation ul{list-style-position:inside;list-style:none;padding:10px 0}
.relatedKeywords{width:200px;overflow:hidden;padding-top:10px}
.relatedKeywords div.rktop,.relatedKeywords div.rkbottom{width:200px;height:4px;background:url(../../images/rk-top.png) no-repeat bottom;line-height:0}
.relatedKeywords div.rkcontet{width:178px;padding:7px 10px;border-left:solid 1px #D6D6D6;border-right:solid 1px #D6D6D6;background-color:#eaeaea;overflow:hidden}
.relatedKeywords div.rkbottom{background:url(../../images/rk-bottom.png) no-repeat top}
.relatedKeywords li{padding-left:2px;list-style-type:disc;list-style-position:inside}
li.all-article{list-style-type:none;text-align:right}
li.more{display:none}
dd.rkall{text-align:right}
.KeywordInformation a,td.more a,dt.productname a{color:#3c3c3c;text-decoration:underline}
.LastVisitedProduct{width:200px;overflow:hidden}
.LastVisitedProduct div.top,.LastVisitedProduct div.bottom{width:200px;height:4px;background:url(../../images/m-top.gif) no-repeat bottom;line-height:0}
.LastVisitedProduct div.item{width:180px;padding:5px 9px;border-left:solid 1px #D6D6D6;border-right:solid 1px #D6D6D6;overflow:hidden}
.LastVisitedProduct div.bottom{background:url(../../images/m-bottom.gif) no-repeat top}
.LastVisitedProduct dt.title{font-size:14px;font-weight:bold;color:#FF7623;padding-bottom:3px;border-bottom:solid 1px #D6D6D6}
.LastVisitedProduct dt.productname{font-size:15px;font-weight:bold;padding-top:3px}
.LastVisitedProduct dt.productname a{text-decoration:none}
.LastVisitedProduct table{width:100%;line-height:16px}
.LastVisitedProduct td.pic{width:40px}
.LastVisitedProduct td.more{text-align:right}
.LastVisitedProduct dd.price{padding:10px 0 10px 5px}
.lowestprice{width:170px;overflow:hidden}
.lowestprice-top,.lowestprice-bottom{width:100%;background:url(../../images/lvo-top.gif) no-repeat bottom;height:6px;line-height:0}
.lowestprice-item{width:152px;padding:0 10px 5px 8px;line-height:24px;background:url(../../images/lvo-line.gif) repeat top;text-align:center}
.lowestprice-bottom{background:url(../../images/lvo-bottom.gif) no-repeat top;height:9px}
.lowestprice .measure{font-size:13px}
.lowestprice .oldprice{text-decoration:line-through}
.lowestprice .currentlyprice{font-size:24px;font-weight:bold}
.LastVisitedProduct dd.shippingcart{text-align:center;padding-bottom:6px}
.grid_left{float:left}
.grid_right{float:right}
.green_link{color:#039;text-decoration:underline}
.search_top{line-height:25px;overflow:hidden;font-size:12px}
.search_count{font-size:18px;width:300px}
.search_options{text-align:right}
.search_options dd{height:25px}
.search_within{color:#999;border:1px solid #CCC;background:url(../../images/i-search.png) no-repeat right center;width:275px;height:20px;line-height:20px;padding:0 20px 0 5px;font-style:italic;font-size:11px}
.search_top ul{list-style:none;overflow:hidden;display:inline-block}
.search_top li{float:left;padding-left:10px}
.search_top li a{text-decoration:none}
.search_top li a:hover{text-decoration:underline}
.search_top li a:hover,.search_sort li a.selected{color:#ff7623}
.search_top li.divider{padding-left:8px;color:#ccc;font-size:16px;line-height:23px}
.sort_asc,.sort_desc{padding-right:8px;background:url('/images/arrow_down.gif') no-repeat right center}
.sort_desc{background-image:url('/images/arrow_up.gif')}
.view_list_li{padding-right:8px}
.view_list,.view_list_selected{padding-left:20px;background:url('/images/view_list.gif') no-repeat left center}
.view_list_selected,a.view_list:hover{background-image:url('/images/view_list_selected.gif')}
.view_table,.view_table_selected{padding-left:20px;background:url('/images/view_table.gif') no-repeat left center}
.view_table_selected,a.view_table:hover{background-image:url('/images/view_table_selected.gif')}
.search_pagenav{width:100%;height:23px;margin-top:8px;background-color:#EAEAEA;line-height:23px;vertical-align:middle;color:#ADADAD;font-weight:bold}
.search_proitem{overflow:hidden;padding:10px 0 5px 0;border-bottom:1px solid #eaeaea}
.search_pic{width:115px;text-align:center}
.search_pro{width:320px;padding-left:15px}
.search_pro img{border:0}
.search_pro_name{font-size:13px}
.search_pro_text{padding-top:10px;clear:both;font-size:12px}
.star-rating{float:left;margin-left:0;margin-right:10px}
.ReviewsCount{float:left}
.search_list dd.addcart{padding-top:10px;text-align:center}
.CollectionContent{font-size:12px;width:610px;border:solid 1px #D6D6D6;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:6px 9px;overflow:hidden;clear:both}
.CollectionContent h1{font-size:16px}
.CollectionContent h2{font-size:13px;padding-top:18px}
.CollectionContent p{padding-top:18px}
.CollectionContent p.subSection{padding:0}
.CollectionContentTop{margin-bottom:10px}
.CollectionContentBottom{margin-top:10px}
.CollectionContentSide{font-size:11px;margin-top:6px;line-height:15px;width:130px}
.CollectionContentSide h1{font-size:14px}
.CollectionContentSide h2{font-size:12px;padding-top:10px}
.CollectionContentSide p{padding-top:10px}
.search-banner{width:100%;height:200px;background-color:#EAEAEA}
.pro-item-outofstock{padding-bottom:30px;position:relative}
.pro-item-outofstock-tip{position:absolute;left:15px;bottom:0;font-style:italic;color:#adadad}
.pro-item-outofstock-tip strong{color:#f00}
.search-facets{padding-top:10px;overflow:hidden}
.search-facets li{list-style:none}
.search-facets li.title{background:#eaeaea;font-weight:bold;font-size:13px;padding:5px 10px}
.search-facets li.sub-title{font-size:14px;font-weight:bold;padding:10px 0}
.search-facets li.hide-item,.search-facets li.hide-more{display:none}
.search-facets ul li input,.search-facets ul li label{display:inline-block;vertical-align:middle}
.search-facets ul li label{width:130px}
.search-facets ul li a{color:#3c3c3c;text-decoration:none}
.search-facets ul li a.facet{background:url(../../images/boxes.gif) no-repeat -1px 2px;padding-left:15px}
.search-facets ul li a.facet-applied{background:url(../../images/boxes.gif) no-repeat 0 -69px;padding-left:15px}
.search-facets ul.applied-filters li{margin-bottom:10px}
.search-facets ul.applied-filters li a{font-size:12px;display:inline-block;background:#aaa;width:130px;padding:5px 15px 5px 5px;position:relative}
.search-facets ul.applied-filters li i{color:#fff;position:absolute;top:8px;right:2px}
.search-facets ul li.bottom-link{padding-top:10px;text-decoration:none}
.search-facets ul li.bottom-link a{color:#3c3c3c;text-decoration:underline}
.search-facets li.price-range{padding:0 8px}
.search-facets .price-values{overflow:hidden}
.search-facets .price-values .price-from{float:left}
.search-facets .price-values .price-to{float:right}
.facet-reviews .icon-star{color:#adadad}
.previousProducts{color:#fff;font-size:12px;font-weight:bold;border:1px solid #ff7723;border-radius:5px;-webkit-border-radius:5x;-moz-border-radius:5px;background:#FFBA91;text-align:center;padding:3px 0;margin:10px 0;cursor:pointer}
.loading-more{padding-top:15px}
.loading-more .bubblingG{padding-left:275px;display:none}
.overlay{background-color:grey;filter:alpha(opacity=70);opacity:.7;position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000;display:none}
.overlay .bubblingG{position:fixed;top:50%;left:50%;margin-left:-40px}
.nav-btns{position:fixed;left:50%;bottom:100px;margin-left:490px;list-style:none;z-index:11;_position:absolute}
.nav-btns li{list-style:none;line-height:20px;margin-bottom:10px}
.nav-btns li i{color:#adadad;font-size:20px;cursor:pointer}