@using Kooboo.Commerce.API;
@using Kooboo.Commerce.API.Payments;

@{
    var commerce = Site.Current.Commerce();
    var paymentId = 0;
    var status = PaymentStatus.Pending;
    
    Int32.TryParse(ViewContext.RequestContext.GetRequestValue("paymentId"), out paymentId);
    Enum.TryParse<PaymentStatus>(ViewContext.RequestContext.GetRequestValue("status"), out status);
}

<h1>Thank you for payment</h1>

<p>
    Status: @status
</p>