@using Kooboo.Commerce.API;
@{
    var categories = Site.Current.Commerce().Category.GetAllCategories();
}
<div class="block menu">
    <ul>
        @foreach (var p in categories)
        {
            <li>
                <a href="/ProductList?cateId=@p.Id">@p.Name</a>
                @if (p.Children.Count > 0)
                {
                    <ul>
                        @foreach (var c in p.Children)
                        {
                            <li><a href="/ProductList?cateId=@c.Id">@c.Name</a></li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>