@using Kooboo.Commerce.API;
@{
    var categories = Site.Current.Commerce().GetAllCategories(Site.Current.GetCommerceName(), Site.Current.GetLanguage(), 2);
}
<ul>
    @foreach(var p in categories)
    {
    <li><a href="/">@p.Name</a>
    @if (p.Children.Count > 0)
    {
        <ul>
            @foreach (var c in p.Children)
            {
            <li><a href="/">@c.Name</a></li>
            }
        </ul>
    }
    </li>
    }
</ul>