 <div class="tag-text grid_left">
            <h1 class="orangeBold">
                Vitaminstore - Dé specialist in supplementen en verzorging</h1>
            <p>
                Vitaminstore is sinds 1991 de gezondste retailer van Nederland. Met een professioneel
                team met een achtergrond in <a href="http://www.vitaminstore.nl/sports/" class="GreyLink">
                    sportvoeding</a>, <a href="http://www.vitaminstore.nl/health/" class="GreyLink">voedingssupplementen</a>
                en <a href="http://www.vitaminstore.nl/beauty/" class="GreyLink">natuurlijke cosmetica</a>
                probeert Vitaminstore haar klanten altijd een eerlijk en bewust advies te geven
                omtrent hun voeding en uiterlijke verzorging. &nbsp;&nbsp; <a href="http://www.vitaminstore.nl/klantenservice/Over-vitaminstore/" class="GreyLink">Meer weten?</a>
            </p>
        </div>