 <div class="Category_nav">
                            
<ul class="health_Item">
    <li><a class="leftnav health" href="/health/">health</a></li>
    <li><a href="/Health/Vitaminen_en_mineralen/">Vitaminen en mineralen</a></li><li><a href="/Health/Speciaal/">Speciaal</a></li><li><a href="/Health/Algemeen/">Algemeen</a></li>
</ul>
<ul class="sports_Item" style="margin-top: 7px;">
    <li><a class="leftnav sports" href="/sports/">sports</a></li>
    <li><a href="/sports/spieren/">spieren</a></li><li><a href="/sports/prestatie/">prestatie</a></li><li><a href="/sports/slank/">slank</a></li>
</ul>
<ul class="beauty_Item" style="margin-top: 7px;">
    <li><a class="leftnav beauty" href="/beauty/">beauty</a></li>
    <li><a href="/beauty/haar/">haar</a></li><li><a href="/beauty/lichaam/">lichaam</a></li><li><a href="/beauty/huid/">huid</a></li>
</ul>

                        </div>