@{
    var categories = ViewBag.Categories;
}

 <div class="Category_nav" style="padding-top: 20px;">
     @if (categories != null) { 
        foreach(var cate in categories)
        {
            <ul class="@(cate.Name)_Item">
                <li><a class="leftnav @(cate.Name)" href="/Category/@cate.Id">@cate.Name</a></li>
                @foreach(var sub in cate.Children)
                { 
                <li><a href="/Category/@sub.Id">@sub.Name</a></li>
                }
            </ul>
        }
     }
</div>