@model PromotionEditorModel
@{
    Layout = "~/Areas/Commerce/Views/Shared/Blank.cshtml";
    ViewBag.Title = "Promotion".Localize();
}

@section Panel {
    @Html.HeaderPanel().Buttons(buttons => buttons.AddCancelButton())
}

<div class="block">
    @Html.Action("Steps", "Promotion", new { area = "Commerce", step = 1 })
    @Html.EditorForModel()
    <div class="wizard-buttons">
        <a data-ajaxform="" class="button">@("Next".Localize()) &raquo;</a>
    </div>
</div>