@model BrandEditorModel
@{
    ViewBag.Title = "Edit Brand".Localize();
}

@section Panel{
    @Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.AddSaveButton();
        buttons.AddBackButton();
    })
}

<div class="block common-form">
    @Html.Partial("_Editor", Model)
</div>