@model PagedList<BrandRowModel>
@{
    ViewBag.Title = "Brands".Localize();
}

@section Panel {
    @(Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.AddCreateButton();
        buttons.AddDeleteButton();
    }))
}

@Html.GridFor2(typeof(BrandRowModel), Model)
<div class="pagination">
    @Html.Pager(Model, "", ViewContext.RequestContext.AllRouteValues(), null)
</div>